<div class="main-board__charts-container__select" *ngIf="!multiple && selectedAssessment">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Choose an assessment</mat-label>
    <mat-select>
      <ng-container *ngFor="let assessment of assessmentsList">
        <mat-option [value]="assessment" *ngIf="assessment.evaluated || displayNonEvaluated" (onSelectionChange)="selectAssessment(assessment)">{{ assessment.title }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>   
</div>

<div class="main-board__charts-container__select" *ngIf="multiple">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Add an assessment</mat-label>
    <mat-select multiple>
      <ng-container *ngFor="let assessment of assessmentsList">
        <mat-option *ngIf="assessment.evaluated" (onSelectionChange)="selectAssessment(assessment)">{{ assessment.title }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>   
</div>

<div class="main-board__charts-container__select" *ngIf="selectTopic">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Choose a topic</mat-label>
    <mat-select>
      <ng-container *ngFor="let topic of topicsList">
        <mat-option [value]="topic" (onSelectionChange)="selectATopic(topic)">{{ topic.name }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>
