<div class="main-board__charts-container__select" *ngIf="!multiple && selectedAssessment">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>
      {{ "shared.selectAssessment.chooseAssessment" | translate }}
    </mat-label>
    <mat-select [(value)]="selectedAssessment">
      <ng-container *ngFor="let assessment of assessmentsList">
        <mat-option [value]="assessment" *ngIf="assessment.evaluated || displayNonEvaluated" (click)="selectAssessment(assessment)">{{ assessment.title }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div class="main-board__charts-container__select" *ngIf="multiple && selectedAssessmentArr && selectedAssessmentArr.length > 0">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>
      {{ "shared.selectAssessment.addAssessment" | translate }}
    </mat-label>
    <mat-select multiple [(value)]="selectedAssessmentArr">
      <ng-container *ngFor="let assessment of assessmentsList">
        <mat-option *ngIf="assessment.evaluated" [value]="assessment" (click)="selectAssessment(assessment)">{{ assessment.title }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div class="main-board__charts-container__select" *ngIf="topicSelectionEnabled">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>
      {{ "shared.selectAssessment.chooseTopic" | translate }}
    </mat-label>
    <mat-select [(value)]="selectedTopic">
      <mat-option>{{ "shared.selectAssessment.noTopics" | translate }}</mat-option>
      <mat-option *ngFor="let topic of topicsList"
        [value]="topic"
        (click)="selectTopic(topic)"
        [disabled]="!topic.started">
          {{ topic.name }}
      </mat-option>
    </mat-select>
    <mat-hint>
      <mat-icon>info</mat-icon>
      {{ "shared.selectAssessment.hintNoStudent" | translate }}
    </mat-hint>
  </mat-form-field>
</div>
