<h2 mat-dialog-title>
    {{ edit ? ("general.edit" | translate: { type: "general.assessment" | translate | lowercase})
     : ("general.createNew" | translate: { type: "general.assessment" | translate | lowercase }) }}</h2>

<div *ngIf="selectAssessment" class="select">
    <form class="form-primary" [formGroup]="selectAssessmentForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.assessment' | translate)} }}</mat-label>
            <mat-select formControlName="assessment" (selectionChange)="onSelectAssessment()">
                <mat-option *ngFor="let assessment of assessmentsList" [value]="assessment">{{ assessment.title }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectAssessment = false">
        {{ 'general.createNewOne' | translate }}
    </app-custom-button>
</div>

<form *ngIf="!selectAssessment" class="form-primary" [formGroup]="assessmentForm">
    <div class="form-primary__flex-container">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.title" | translate }}</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.grade" | translate }}</mat-label>
            <mat-select formControlName="grade" [matTooltip]="'assessmentBuilder.gradeTooltip' | translate">
                <mat-option *ngFor="let grade of grades" [value]="grade">
                    {{ grade }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.subject" | translate }}</mat-label>
            <mat-select formControlName="subject">
                <mat-option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="topics?.length" appearance="outline" color="accent">
            <mat-label>{{ "general.topic" | translate }}</mat-label>
            <mat-select formControlName="topic">
                <mat-option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.language" | translate }}</mat-label>
            <mat-select formControlName="language">
                <mat-option *ngFor="let language of languages" [value]="language.code">{{language.name_en}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.country" | translate }}</mat-label>
            <mat-select formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name_en}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-primary__flex-container">
        <div>
            <h3>{{ "assessmentBuilder.icon" |  translate }}</h3>
            <app-image-selector
                [showLabel]="false"
                (newImageEvent)="handleFileInput($event)"
            ></app-image-selector>
        </div>
        <div class="checkboxes">
            <mat-checkbox formControlName="private">
                {{ "general.private" | translate }}
            </mat-checkbox>
            <mat-checkbox
                *ngIf="!assessmentForm.get('private').value"
                formControlName="downloadable"
            >
                {{ "assessmentBuilder.downloadable" | translate }}
            </mat-checkbox>
            <mat-checkbox formControlName="archived">
                {{ "general.archived" | translate: {type: ''} }}
            </mat-checkbox>
            <mat-checkbox formControlName="sel_question">
                {{ "assessmentBuilder.selQuestions" | translate }}
            </mat-checkbox>
        </div>
    </div>
    <mat-divider></mat-divider>
</form>

<div class="dialog-buttons buttons-margin">
    <button mat-button class="dialog-buttons__cancel" color="secondary" mat-dialog-close>{{ "general.cancel" | translate }}</button>
    <button mat-flat-button class="dialog-buttons__submit" color="accent" type="submit" [mat-dialog-close]="assessmentForm.value"
    [disabled]="assessmentForm.invalid || !assessmentForm.dirty" (click)="saveAssessment()">
    {{ edit ? ("general.save" | translate) : ("general.create" | translate) }}</button>
</div>