.file_input{
    background-color: rgb(233, 233, 233);
}
p{
    margin: 0px 0px 40px 0px;
    color: rgb(194, 194, 194);
}
.buttons-margin {
    margin-top: 20px;
}
.checkboxes {
    display: flex;
    flex-direction: column;
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
}