.file_input{
    background-color: rgb(233, 233, 233);
}

p{
    margin: 0px 0px 40px 0px;
    color: rgb(194, 194, 194);
}

.submit{
    background-color: rgb(187, 226, 190);
    margin: 40px 20px;
}

.cancel{
    background-color: rgb(240, 240, 240);
    margin: 40px 20px;
}