<h2 mat-dialog-title>
    {{ edit ? ("assessmentBuilder.assessmentFormDialog.editAssessment" | translate)
     : ("assessmentBuilder.assessmentFormDialog.createNewAssessment" | translate) }}</h2>
<form class="form-primary" [formGroup]="createNewAssessmentForm">
    <div class="form-primary__flex-container">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.title" | translate }}</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.grade" | translate }}</mat-label>
            <input matInput type="text" formControlName="grade">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.subject" | translate }}</mat-label>
            <mat-select formControlName="subject">
                <mat-option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.language" | translate }}</mat-label>
            <mat-select formControlName="language">
                <mat-option *ngFor="let language of languages" [value]="language.code">{{language.name_en}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.country" | translate }}</mat-label>
            <mat-select formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name_en}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-primary__flex-container">
        <div>
            <h3>Icon</h3>
            <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="imageFileInput.click()">
                {{ "assessmentBuilder.chooseFile" | translate }}
            </app-custom-button>
            <input hidden (change)="handleFileInput($event)" #imageFileInput type="file">
            <p>{{icon ? icon.name : ("assessmentBuilder.noFileChosen" | translate) }}</p>
        </div>
        <mat-checkbox formControlName="private">
            {{ "general.private" | translate }}
        </mat-checkbox> 
        <mat-checkbox formControlName="archived">
            {{ "general.archive" | translate }}
        </mat-checkbox> 
    </div>
    <mat-divider></mat-divider>
    <div class="dialog-buttons buttons-margin">
        <button mat-button class="dialog-buttons__cancel" color="secondary" mat-dialog-close>{{ "general.cancel" | translate }}</button>
        <button mat-flat-button class="dialog-buttons__submit" color="accent" type="submit" [mat-dialog-close]="createNewAssessmentForm.value"
        [disabled]="createNewAssessmentForm.invalid || !createNewAssessmentForm.dirty" (click)="submitCreateNewAssessment()">
        {{ edit ? ("general.save" | translate) : ("general.create" | translate) }}</button>
    </div>
</form>