<div class="container">
  <form [formGroup]="loginForm" class="form">
    <h1>Teacher's Platform</h1>
    <p>Welcome back! Please login to your account</p>

    <mat-form-field appearance="outline" class="form-group" color="accent">
      <mat-label>{{ "auth.login.username" | translate }}</mat-label>
      <input matInput type="text" autocomplete="username" formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group" color="accent">
      <mat-label>{{ "auth.login.password" | translate }}</mat-label>
      <input matInput #passwordElement name="passwordElement" type="password" autocomplete="current-password"
        formControlName="password">
      <!-- <button matSuffix mat-icon-button aria-label="Show password" (click)="showPassword()">
        <mat-icon class="password-visibility-icon">visibility</mat-icon>
      </button> -->
    </mat-form-field>

    <div class="questions">
      <mat-checkbox formControlName="keepConnection">
        <mat-label for="keepConnection">Remember me?</mat-label>
      </mat-checkbox>

      <a>Forgot Password?</a>
    </div>

    <button (click)="onSubmit()" mat-flat-button type="submit" color="accent" [disabled]="!loginForm.valid">{{
      "auth.login.login" | translate }}</button>

    <p class="sign-up">
      New User? <a (click)="onSignup()">Sign up</a>
    </p>
  </form>
</div>