.options-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap
  ;
    &.grid {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr;
      // TODO verify if we need a media query
    }
  
    &.vertical {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
    }
  
    &.horizontal {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .option {
      padding: 0.5rem;
      border-radius: 1.25rem;
      margin-bottom: 0.5rem;
      width: 35%;
      text-align: center;
      display: flex;
      flex-direction: column;
  
      mat-checkbox {
        cursor: pointer;
  
        span {
          color: black;
        }
      }

      mat-card {
        padding: 8px !important;
      }
      mat-card img {
        cursor: pointer;
        height: 60px;
      }

      mat-icon {
        align-self: center;
      }
  
      &:not(.-card) {
        background-color: rgb(223, 223, 223);
      }
  
      &.valid {
        outline-width: 4px;
        outline-color: #7EBF9A;;
        outline-style: solid;
      }

      &.student {
        outline-width: 2px;
        outline-color: #7e8abf;;
        outline-style: solid;
      }
    }
}

.question-header{
  text-align: center;

  h2:nth-child(1) {
    float: left;
  }
}

.play-audio {
  cursor: pointer;
}
  