.options-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap
  ;
    &.grid {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr;
      // TODO verify if we need a media query
    }
  
    &.vertical {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
    }
  
    &.horizontal {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .option {
      padding: 0.5rem;
      border-radius: 1.25rem;
      width: 35%;
  
      mat-checkbox {
        cursor: pointer;
  
        span {
          color: black;
        }
      }

      mat-card {
        padding: 8px !important;
      }
      mat-card img {
        cursor: pointer;
        height: 60px;
      }
  
      &:not(.-card) {
        background-color: white;
      }
  
      &.invalid {
        background-color: #F2836B;
      }
  
      &.valid {
        background-color: #7EBF9A;
      }
    }
  }
  