.question-container {
    background-color: whitesmoke;
    width: 20vw;

    .question-header {
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .select-content {
        display: flex;
        margin: 15px 0px;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .select-radio-options {
            background-color: white;
            margin: 5px;
            border-radius: 5px;
            display: flex;
            height: 50px;
            width: 90%;
            justify-content: flex-start;
            padding-left: 10px;
        }

        .select-radio-options-attachments {
            background-color: white;
            margin: 5px;
            border-radius: 5px;
            display: flex;
            max-width: 55%;
            text-align:center;
            padding: 15px;
            justify-content: space-evenly;
            flex-direction: column;
            align-content: center; 

            .attachments-style {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }

        .select-checkbox-options {
            height: 50px;
            width: 90%;
            background-color: white;
            margin: 5px;
            border-radius: 5px;
            display: flex;
            padding: 0px 10px;
            align-items: center; 
        }

        .select-checkbox-options-attachment {
            height: auto;
            width: 40%;
            background-color: white;
            margin: 5px;
            border-radius: 5px;
            padding: 0px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center; 
        }
    }
        
}
::ng-deep label.mat-radio-label {
    justify-content: center !important;
   
}