<div class="question-header" *ngIf="evaluated">
    <h2>Q{{ question.order }}</h2>
    <h2>{{ question.title }}</h2>
    <img *ngIf="imageAttachment"  alt="" class="img-attachment"
        [src]="question.newFile ? imagePreview : utilitiesService.getSource(preview ? imageAttachment.file.file : imageAttachment.file)">
    <mat-icon class="play-audio" (click)="preview ? '' : playAudio(utilitiesService.getSource(audioAttachment.file))" 
        *ngIf="audioAttachment">volume_up</mat-icon>
</div>
<!-- Options with only one choice -->
<section *ngIf="!question.multiple">
    <!-- In case of using display_type again: [class]="question.display_type | lowercase" -->
    <div class="options-container">
        <ng-container *ngFor="let option of question.options">
            <div [class]="getAnswerBackgroundStyle(option)" *ngIf="hasImageAttached(option); else noImageAttached" class="option -card">
                <mat-card>
                    <mat-card-content>
                        <div *ngFor="let attachment of option.attachments">
                            <img *ngIf="attachment.attachment_type === 'IMAGE'"  alt=""
                            [src]="option.newFile && attachment.newFile ? attachment.newFile : utilitiesService.getSource(preview && attachment.newFile
                                ? '/media/attachments/' + attachment.newFile?.name
                                : (attachment.file.name ? ('/media/attachments/' + attachment.file.name) : attachment.file)
                            )">
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <span *ngIf="question.show_options_title">
                            {{ option.title }}
                        </span>
                        <ng-container *ngFor="let attachment of option.attachments">
                            <mat-icon (click)="playAudio(attachment.file)" *ngIf="attachment.attachment_type === 'AUDIO'">volume_up</mat-icon>
                        </ng-container>
                    </mat-card-actions>
                </mat-card>
            </div>
            <ng-template #noImageAttached>
                <div [class]="getAnswerBackgroundStyle(option)" class="option">
                        <span *ngIf="question.show_options_title">
                            {{ option.title }}
                        </span>
                        <ng-container *ngFor="let attachment of option.attachments">
                            <mat-icon (click)="preview ? '' : playAudio(attachment.file)" *ngIf="attachment.attachment_type === 'AUDIO'">volume_up</mat-icon>
                        </ng-container>
                </div>
            </ng-template>
        </ng-container>
    </div>
</section>

<!-- Options with multiple choices -->
<!-- In case of using display_type again: [class]="question.display_type | lowercase" -->
<section class="options-container" *ngIf="question.multiple">
    <ng-container *ngFor="let option of question.options; let i = index">
        <div [class]="getAnswerBackgroundStyle(option)" *ngIf="hasImageAttached(option); else noImageAttachmentOption" class="option -card">
            <mat-card>
                <mat-card-content>
                    <div *ngFor="let attachment of option.attachments">
                        <img *ngIf="attachment.attachment_type === 'IMAGE'"  alt=""
                        [src]="option.newFile && attachment.newFile ? attachment.newFile : utilitiesService.getSource(preview && attachment.newFile
                            ? '/media/attachments/' + attachment.newFile?.name
                            : (attachment.file.name ? ('/media/attachments/' + attachment.file.name) : attachment.file)
                        )">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <mat-checkbox disabled>
                        <span *ngIf="question.show_options_title">
                            {{ option.title }}
                        </span>
                    </mat-checkbox>
                    <ng-container *ngFor="let attachment of option.attachments">
                        <mat-icon (click)="preview ? '' : playAudio(attachment.file)" *ngIf="attachment.attachment_type === 'AUDIO'">volume_up</mat-icon>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
        <ng-template #noImageAttachmentOption>
            <div [class]="getAnswerBackgroundStyle(option)" class="option">
                <mat-checkbox disabled>
                    <span *ngIf="question.show_options_title">
                        {{ option.title }}
                    </span>
                </mat-checkbox>
                <ng-container *ngFor="let attachment of option.attachments">
                    <mat-icon (click)="preview ? '' : playAudio(attachment.file)" *ngIf="attachment.attachment_type === 'AUDIO'">volume_up</mat-icon>
                </ng-container>
            </div>
        </ng-template>
    </ng-container>
</section>
