.submit-form-button {
    padding: 5px 30px;
    margin-top:  20px;
}

.mat-form-field {
    padding: 10px 15px 10px 0px;
}


.mat-button, .button {
    margin:  10px 15px 15px 0px;
}


.submit-form-button {
padding: 5px 30px;
margin-top:  20px;
}