<form class="form-primary" [formGroup]="selectForm" (ngSubmit)="createSelect()">
    <mat-form-field appearance="outline" class="form-group"  color="accent">
        <mat-label for="title" >Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="order" >Order</mat-label>
        <input matInput formControlName="order">
    </mat-form-field>

    <mat-checkbox>
        <mat-label for="multiple">Is multiple choice?</mat-label>
        <input matInput formControlName="multiple">
    </mat-checkbox>


    <div>
        <h3>Options:</h3>
        <div *ngIf="!question" >
            <app-select-option (saveOptionEvent)="addOption($event, index)" *ngFor="let index of amountOptions"></app-select-option>
        </div>
        <div *ngIf="question" >
            <app-select-option (saveOptionEvent)="addOption($event, i)" *ngFor="let opt of options; let i = index" [option]="opt"></app-select-option>
        </div>
        <button type="button" (click)="createOption()"> Add Option</button>
    </div>

    <button mat-flat-button color="primary" type="submit" [disabled]="selectForm.invalid">
        Save
    </button>
</form>