<div class="select_option">
    <form class="form-primary" [formGroup]="selectOptionForm">
        <div>
            <label for="value">Value </label>
            <input type="text" formControlName="value">
        </div>

        <div>
            <label for="valid">Valid </label>
            <input type="checkbox" formControlName="valid">
        </div>

        <div>
            <label for="audioAttachment">Audio Attachment</label>
            <input type="text" formControlName="audioAttachment">
        </div>

        <div>
            <label for="imageAttachment">Image Attachment</label>
            <input type="text" formControlName="imageAttachment">
        </div>
    </form>
    <button type="button" (click)="createOption()">Save Option</button>
</div>