<div class="select_option">
    <form class="form-primary" [formGroup]="selectOptionForm">
        
        <mat-form-field appearance="outline" class="form-group" color="accent">
            <mat-label for="value">Value</mat-label>
            <input matInput formControlName="value">
        </mat-form-field>

        <mat-checkbox formControlName="valid">
            <mat-label for="valid">Is correct answer?</mat-label>
        </mat-checkbox>
      
        <div>
            <button type="button" mat-button mat-raised-button color="accent">Image Attachment</button>
            <input  formControlName="imageAttachment"
            (change)="handleFileInput($event, 'IMAGE')" #fileInput type="file">
            <p class="uploaded-file-name">{{imageAttachment ? imageAttachment.name : ''}}</p>
        </div>
        <div>
            <button type="button" mat-button mat-raised-button color="accent">Audio Attachment</button>
            <input  formControlName="audioAttachment"
                (change)="handleFileInput($event, 'AUDIO')" #fileInput type="file">      
            <p class="uploaded-file-name">{{audioAttachment ? audioAttachment.name : ''}}</p>
        </div>
        
    </form>
    <button type="button" mat-stroked-button color="accent" (click)="createOption()">Save Option</button>
</div>