<div class="select_option">
    <form class="form-primary" [formGroup]="selectOptionForm">
        
        <mat-form-field appearance="outline" class="form-group" color="accent">
            <mat-label for="value">Value</mat-label>
            <input matInput formControlName="value">
        </mat-form-field>

        <mat-checkbox formControlName="valid">
            <mat-label for="valid">Is correct answer?</mat-label>
        </mat-checkbox>
      
        <div>
            <h3 type="button" mat-button mat-raised-button color="accent">Image Attachment</h3>
            <input  formControlName="imageAttachment"
            (change)="handleFileInput($event, 'IMAGE')" #fileInput type="file">
            <p *ngIf="option" class="uploaded-file-name"> Previous: {{option.image ?  option.image : ''}}</p>
        </div>
        <div>
            <h3 type="button" mat-button mat-raised-button color="accent">Audio Attachment</h3>
            <input  formControlName="audioAttachment"
                (change)="handleFileInput($event, 'AUDIO')" #fileInput type="file">      
            <p *ngIf="option"  class="uploaded-file-name">Previous: {{option?.image ?  option.image : ''}}</p>
        </div>
        
    </form>
    <button type="button" mat-stroked-button color="accent" (click)="createOption()">Save Option</button>
</div>