<form [formGroup]="numberLineForm" (ngSubmit)="createNumberLine()">
   
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="title" >Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="order" >Order</mat-label>
                <input matInput formControlName="order" >
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="startNumber">Start Number</mat-label>
                <input matInput formControlName="startNumber">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="endNumber">End Number</mat-label>
                <input matInput formControlName="endNumber">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="stepSize">Stepsize</mat-label>
                <input matInput formControlName="stepSize" class="form-control">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="solution">Solution</mat-label>
                <input matInput formControlName="solution"  class="form-control">
            </mat-form-field>

            <mat-form-field appearance="outline"  class="form-group" color="accent">
                <mat-label for="showTicks">Show Ticks</mat-label>
                <input matInput formControlName="showTicks" class="form-control">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="showValue">Show Value</mat-label>
                <input matInput formControlName="showValue" class="form-control">
            </mat-form-field>

            <p>Attachment</p>

            <div>
                <button mat-button mat-raised-button color="accent" (click)="setType('attachment', 'IMAGE')">Image</button>
                <button mat-button mat-raised-button color="accent" (click)="setType('attachment', 'AUDIO')">Audio</button>
            </div>
                    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                    <input hidden (change)="handleFileInput($event, 'attachment')" #fileInput type="file">
                    <p class="uploaded-file-name">{{fileName}}</p>
     

<div>
    <button class="submit-form-button" mat-flat-button color="primary" type="submit" [disabled]="numberLineForm.invalid">
        Save
    </button>
</div>

</form>