<form [formGroup]="numberLineForm" (ngSubmit)="createNumberLine()">
   
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="title" >Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="order" >Order</mat-label>
                <input matInput formControlName="order" >
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="startNumber">Start Number</mat-label>
                <input matInput formControlName="startNumber">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="endNumber">End Number</mat-label>
                <input matInput formControlName="endNumber">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="stepSize">Stepsize</mat-label>
                <input matInput formControlName="stepSize" class="form-control">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="solution">Solution</mat-label>
                <input matInput formControlName="solution"  class="form-control">
            </mat-form-field>
           
            <mat-label for="showTicks">Show Ticks</mat-label>
            <mat-checkbox matInput formControlName="showTicks" class="form-control"></mat-checkbox>

            <mat-label for="showValue">Show Value</mat-label>
            <mat-checkbox matInput formControlName="showValue" class="form-control"></mat-checkbox>
            
            <p>Attachments</p>
            
            <div>
                <button type="button" mat-button mat-raised-button color="accent">Image Attachment</button>
                            <input
                            (change)="handleFileInput($event, 'IMAGE')" #fileInput type="file">
                            <p class="uploaded-file-name">{{imageAttachment ? imageAttachment.name : ' '}}</p>
            </div>

            <div>
                        <button type="button" mat-button mat-raised-button color="accent">Audio Attachment</button>
                        <input
                            (change)="handleFileInput($event, 'AUDIO')" #fileInput type="file">      
                        <p class="uploaded-file-name">{{audioAttachment ? audioAttachment.name : ''}}</p>
            </div>
     

<div>
    <button class="submit-form-button" mat-flat-button color="primary" type="submit" [disabled]="numberLineForm.invalid">
        Save
    </button>
</div>

</form>