mat-card-title {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px 40px 0px;
    color: rgb(66, 64, 64);
}

mat-card-content {
    display:flex;

 .left-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 35%;
    
        li {
            list-style-type: none;
        }
    }
   
.answers-list {
    
    padding-right:20%;

    li {
        list-style: none;
        cursor: pointer;
        mat-icon {
            vertical-align: middle;
        }
    }

}

 }