<mat-card>
  <mat-card-title>{{ "dashboard.answersOverview.individualResults" | translate }}</mat-card-title>
  <mat-card-subtitle>{{ "dashboard.firstTry" | translate }}</mat-card-subtitle>

  <mat-card-content *ngIf="hasData">
    <div class="left-column">
      <app-select-assessment (topicSelection)="onTopicSelection($event)" [topicSelectionEnabled]="true" [multiple]="false"
        [displayNonEvaluated]="true"></app-select-assessment>
      <app-select-group style="margin-top: 15px"
        (groupsSelection)="getStudentListForTopic($event)"
        [multiple]="true">
      </app-select-group>
      <div class="main-board__charts-container__options">
        <mat-radio-group class="radio-group">
          <ng-container *ngFor="let student of studentsList">
            <ul>
              <li>
                <mat-radio-button *ngIf="student.topic_first_try" [value]="student"
                  [checked]="student === selectedStudent ? true : false" (change)="selectStudent(student)">{{
                  student.student.full_name }}</mat-radio-button>
              </li>
            </ul>
          </ng-container>
        </mat-radio-group>
      </div>
    </div>

    <app-spinner style="margin: auto;" *ngIf="loading" size="large" [variant]="'default'"></app-spinner>

    <ng-container *ngIf="hasData && !loading; else selectionNoData">
      <div class="answers-list" *ngIf="studentTopicAnswers">
        <ul>
          <li *ngFor="let answer of studentTopicAnswers; let i = index" (click)="displayAnswerDetails(answer)">Q{{ i + 1
            }}<span>
              <mat-icon *ngIf="evaluated" [style.color]="answer.color">stop</mat-icon>
              <p *ngIf="!evaluated">{{answer.question.title}}</p>
            </span></li>
        </ul>
      </div>
      <div class="question-details" *ngIf="answerDetails">
        <ng-container *ngIf="answerDetails.question.question_type === 'SELECT'">
          <app-question-select [question]="answerDetails.question" [index]="index" [answer]="answerDetails"
            [evaluated]="evaluated"></app-question-select>
        </ng-container>

        <ng-container *ngIf="answerDetails.question.question_type === 'INPUT'">
          <app-question-input [question]="answerDetails.question" [index]="index" [answer]="answerDetails.value"
            [evaluated]="evaluated"></app-question-input>
        </ng-container>

        <ng-container *ngIf="answerDetails.question.question_type === 'SORT'">
          <app-question-sort [question]="answerDetails.question" [index]="index" [answer]="answerDetails.value"
            [evaluated]="evaluated"></app-question-sort>
        </ng-container>

        <ng-container *ngIf="answerDetails && answerDetails.question.question_type === 'NUMBER_LINE'">
          <app-question-numberline [question]="answerDetails.question" [index]="index" [answer]="answerDetails.value"
            [evaluated]="evaluated"></app-question-numberline>
        </ng-container>

        <ng-container *ngIf="answerDetails && answerDetails.question.question_type === 'DRAG_AND_DROP'">
          <app-question-drag-and-drop [question]="answerDetails.question" [assessmentId]="assessmentId" [topicId]="topicId"
            [index]="index" [answer]="answerDetails" [evaluated]="evaluated" [shrinkBackgroundImage]="true">
          </app-question-drag-and-drop>
        </ng-container>

        <ng-container *ngIf="answerDetails.question.question_type === 'DOMINO'">
          <app-question-domino [question]="answerDetails.question" [index]="index" [answer]="answerDetails"
            [evaluated]="evaluated"></app-question-domino>
        </ng-container>

        <ng-container *ngIf="answerDetails.question.question_type === 'CALCUL'">
          <app-question-calcul [question]="answerDetails.question" [index]="index" [answer]="answerDetails.value"
            [evaluated]="evaluated"></app-question-calcul>
        </ng-container>

        <ng-container *ngIf="answerDetails.question.question_type === 'CUSTOMIZED_DRAG_AND_DROP'">
          <app-customized-drag-and-drop [question]="answerDetails.question" [index]="index" [answer]="answerDetails.value"
          [evaluated]="evaluated"></app-customized-drag-and-drop>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #selectionNoData>
        <p *ngIf="!hasData" class="selection-no-data">{{ "general.noData" | translate }}</p>
    </ng-template>
  </mat-card-content>
  <p *ngIf="!hasData" style="text-align: center;">
    {{ "general.noData" | translate }}
  </p>
</mat-card>