<mat-card>
<mat-card-title>Single performance</mat-card-title>

<mat-card-content>
<div class="left-column"> 
<app-select-assessment (topicSelection)="onTopicSelection($event)" [selectTopic]="true" [multiple]="false" [displayNonEvaluated]="true"></app-select-assessment>

    <div class="main-board__charts-container__options">
        <mat-radio-group class="radio-group">
            <ng-container *ngFor="let student of studentsList">
              <li><mat-radio-button *ngIf="student.topic_first_try" [value]="student" [checked]="student === selectedStudent ? true : false" (change)="selectStudent(student)">{{ student.student.full_name }}</mat-radio-button></li>
            </ng-container>
        </mat-radio-group>
    </div>
  </div>
    <div class="answers-list">
        <ul>
            <li *ngFor="let answer of studentTopicAnswers" (click)="displayAnswerDetails(answer)">Q{{ answer.question.order }}<span><mat-icon *ngIf="evaluated" [style.color]="isAnswerValid(answer.valid)" >stop</mat-icon><p *ngIf="!evaluated">{{answer.question.title}}</p></span></li>
        </ul>
    </div>
    <ng-container *ngIf="answerDetails && answerDetails.question.question_type === 'SELECT'">
      <app-question-select [question]="answerDetails.question" [answer]="answerDetails.value" [evaluated]="evaluated"></app-question-select>
    </ng-container>
  
    <ng-container *ngIf="answerDetails && answerDetails.question.question_type === 'INPUT'">
      <app-question-input [question]="answerDetails.question" [answer]="answerDetails.value" [evaluated]="evaluated"></app-question-input>
    </ng-container>
  
    <ng-container *ngIf="answerDetails && answerDetails.question.question_type === 'SORT'">
      <app-question-sort [question]="answerDetails.question" [answer]="answerDetails.value" [evaluated]="evaluated"></app-question-sort>
    </ng-container>
  
    <ng-container *ngIf="answerDetails && answerDetails.question.question_type === 'NUMBER_LINE'">
      <app-question-numberline [question]="answerDetails.question" [answer]="answerDetails.value" [evaluated]="evaluated"></app-question-numberline>
    </ng-container>

</mat-card-content>
</mat-card>