::ng-deep table {
  .mat-column-button {
    app-custom-button {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .mat-column-title {
    width: 40%;
  }
  .mat-column-icon {
    width: 10%;
  }
}

.main-board {
  position: relative;
  .main-board__top-container__actions {
    position: absolute;
    right: 1%;
  }
}

::ng-deep .mat-nav-list .list-item-active {
  color: #FF5722;
  border-left-color: #FF5722;
}