.topic-accesses-builder {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    min-height: 240px;
    min-width: 60vw;

    &__list {
        min-width: 12vw;
        padding: 0 12px;

        &.-students {
            mat-icon {
                margin-right: 8px;
            }
        }

        & > .header {
            text-align: center;
            display: block;
            margin-bottom: 32px;
        }
    }

    &__list-row {
        min-height: 34px;
        display: flex !important;
        align-items: center;
        margin-bottom: 12px;
    }
}

::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0;

    & > .mat-form-field-flex {
        align-items: flex-end;

        & > .mat-form-field-infix {
            width: 170px !important;
            padding: 0.4em 0px !important;
            border-top: none !important;

            .mat-date-range-input-container {
                align-items: normal !important;
            }
        }

        .mat-form-field-suffix .mat-icon-button {
            width: auto !important;
            height: 38px !important;
        }
    }
}
