.custom-spinner-success {
  ::ng-deep circle {
    stroke: #63d168;
  }
}

.custom-spinner-light {
  ::ng-deep circle {
    stroke: white;
  }
}

.custom-spinner-primary {
  ::ng-deep circle {
    stroke: #2196F3;
  }
}

.custom-spinner-default {
  ::ng-deep circle {
    stroke: #ffdc64;
  }
}