<form [formGroup]="selectForm">
    <div class="form-container">
        <div class="select-details-container">
            <h2>Question</h2>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="title">Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>Value</mat-label>
                <input matInput formControlName="value">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="order">Order</mat-label>
                <input matInput type="number" formControlName="order">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="display">Display</mat-label>
                <mat-select formControlName="display">
                    <mat-option *ngFor="let type of ['Grid', 'Vertical', 'Horizontal']" [value]="type">{{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-checkbox formControlName="multiple">
                <mat-label for="multiple">Is multiple choice?</mat-label>
            </mat-checkbox>
        </div>

        <div class="attachments-container">
            <h2>Attachments</h2>
            <p><b>Image attachment</b></p>
            <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="imageFileInput.click()">
                Choose File
            </app-custom-button>
            <input hidden class="file_input" accept="image/*" (change)="handleFileInput($event, 'IMAGE')" #imageFileInput type="file">
            <p>{{imageAttachment ? imageAttachment.name : 'No file chosen'}}</p>
            <p><b>Audio attachment</b></p>
            <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="audioFileInput.click()">
                Choose File
            </app-custom-button>
            <input hidden accept="audio/*" (change)="handleFileInput($event, 'AUDIO')" #audioFileInput type="file">
            <p>{{audioAttachment ? audioAttachment.name : 'No file chosen'}}</p>
            <app-audio-recorder [resetQuestionAudio]="resetQuestionAudio" (audioRecordingEvent)="addRecordedAudio($event)"></app-audio-recorder>
        </div>
    </div>
    <mat-divider></mat-divider>

    <h2 style="margin-top: 20px;">Options</h2>
    <div class="options-container" formArrayName="options">
        <div class="option-form" *ngFor="let control of selectForm.controls.options['controls']; let i = index"
            [formGroupName]="i">
            <div>
                <mat-form-field appearance="outline" class="form-group" color="accent">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>Value</mat-label>
                <input matInput formControlName="value">
            </mat-form-field>
            <br>
            <mat-checkbox formControlName="valid">
                <mat-label>Is correct answer?</mat-label>
            </mat-checkbox>

            <div class="attachments-container">
                <div>
                    <p><b>Image attachment</b></p>
                    <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="imageFileInput.click()">
                        Choose File
                    </app-custom-button>
                    <input hidden accept="image/*" (change)="handleFileInputOptions($event, 'IMAGE', i)" #imageFileInput type="file">
                    <p>{{imageAttachment ? imageAttachment.name : 'No file chosen'}}</p>
                </div>

                <div>
                    <p><b>Audio attachment</b></p>
                    <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="audioFileInput.click()">
                        Choose File
                    </app-custom-button>
                    <input hidden accept="audio/*" (change)="handleFileInputOptions($event, 'AUDIO', i)" #audioFileInput type="file">
                    <p>{{audioAttachment ? audioAttachment.name : 'No file chosen'}}</p>
                    <app-audio-recorder (audioRecordingEvent)="addRecordedAudio($event)"></app-audio-recorder>
                </div>
            </div>
        </div>
        <div>
            <app-custom-button class="file_input" icon="add" category="secondary" variant="neutral" (click)="addOptions()">
                Add Option
            </app-custom-button>
        </div>
        
    </div>
    <button class="question-form-button" color="accent" (click)="onSave()"
     mat-flat-button type="submit" [disabled]="selectForm.invalid || !selectForm.dirty">
        {{ question ? 'Save' : 'Create' }}
    </button>
</form>