<mat-dialog-content style="max-height: 80vh">
    <div *ngIf="selectQuestion" class="select">
        <form class="form-primary" [formGroup]="selectQuestionForm">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.question' | translate)} }}</mat-label>
                <mat-select formControlName="question" (selectionChange)="onSelectQuestion()">
                    <mat-option *ngFor="let question of questionsList" [value]="question">{{ question.title }}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-spinner *ngIf="!questionsList" size="medium" [variant]="'primary'"></app-spinner>
        </form>

        <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectQuestion = false">
            {{ 'general.createNewOne' | translate }}
        </app-custom-button>
    </div>

    <form *ngIf="!selectQuestion" [formGroup]="selectForm">
        <h1>{{ "assessmentBuilder.questions.select.formTitle" | translate }}</h1>

        <div class="form-container">
            <mat-form-field appearance="outline" class="title" color="accent">
                <mat-label for="title" matTooltip="test">
                    {{ "assessmentBuilder.questions.questionTitle" | translate }}
                    <mat-icon >help_outline</mat-icon>
                </mat-label>
                <textarea matInput formControlName="title" cdkTextareaAutosize></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label for="order" matTooltip="test">
                    {{ "general.order" | translate }}
                    <mat-icon >help_outline</mat-icon>
                </mat-label>
                <input matInput type="number" min="1" formControlName="order">
            </mat-form-field>

            <!-- In case of using display_type again: uncomment the following mat-form-field attribute -->
            <!--
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label for="display">{{ "assessmentBuilder.questions.select.display" | translate }}</mat-label>
                <mat-select formControlName="display">
                    <mat-option *ngFor="let type of ['Grid', 'Vertical', 'Horizontal']" [value]="type">{{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            -->
        </div>
        
        <mat-stepper #stepper [orientation]="(questionFormService.stepperOrientation | async)!">
            <mat-step [completed]="false">
                <mat-divider></mat-divider>
                <h3>{{ "assessmentBuilder.questions.select.optionsTitle" | translate }}</h3>
                <ng-template matStepLabel>{{ "assessmentBuilder.questions.select.optionsStep" | translate }}</ng-template>

                <div class="options-container"formArrayName="options">
                    <div class="option-form" *ngFor="let control of selectForm.controls.options['controls']; let i = index" [formGroupName]="i">
                        <div class="option-input">
                            <mat-icon matTooltip="test">help_outline</mat-icon>
                            <mat-form-field appearance="fill" color="accent">
                                <mat-label [style.display]="control.controls.title.value ? 'none' : ''">
                                    {{ "assessmentBuilder.questions.select.option" | translate | titlecase}} {{' ' + (i + 1) + '*' }}
                                </mat-label>
                                <input matInput formControlName="title">
                            </mat-form-field>
                            
                            <app-audio-selector [isIcon]="true"
                                [isRecorderEnabled]="true"
                                [reset$]="attachmentsResetSubject$.asObservable()"
                                (newAudioEvent)="handleFileInputOptions($event, 'AUDIO', i)"
                            ></app-audio-selector>
                            <app-image-selector [isIcon]="true"
                                [reset$]="attachmentsResetSubject$.asObservable()"
                                (newImageEvent)="handleFileInputOptions($event, 'IMAGE', i)"
                            ></app-image-selector>
                        </div>

                        <div class="icon-tip">
                            <mat-checkbox formControlName="valid" [checked]="selectedOption === i" (change)="selectedOption = i; checkValid(i, $event.checked)">
                                <mat-label>{{ "assessmentBuilder.questions.select.isCorrectAnswer" | translate }}</mat-label>
                            </mat-checkbox>
                            <mat-icon matTooltip="test">help_outline</mat-icon>
                        </div>
                        
                        <app-custom-button *ngIf="optionsLength > 1" (click)="deleteOption(i)" category="tertiary"
                            variant="danger" icon="delete_outline" [isIcon]="true" [noBorder]="true">
                        </app-custom-button>
                    </div>
                </div>

                <div class="options-features">
                    <app-custom-button icon="add" category="tertiary" variant="primary" [noBorder]="true" (click)="addOptions()">
                        {{ "general.add" | translate: { type: ("assessmentBuilder.questions.select.option" | translate) } }}
                    </app-custom-button>
                    
                    <mat-slide-toggle formControlName="show_options_title">
                        {{ "assessmentBuilder.questions.select.showOptionsTitle" | translate }}
                    </mat-slide-toggle>

                    <div class="icon-tip">
                        <mat-slide-toggle formControlName="shuffle">
                            {{ "assessmentBuilder.questions.select.shuffleAnswers" | translate }}
                        </mat-slide-toggle>
                        <mat-icon matTooltip="test">help_outline</mat-icon>
                    </div>
                </div>

                <div class="preview" *ngIf="questionPreview">
                    <app-question-select [question]="questionPreview" [index]="1" [evaluated]="true" [preview]="true"></app-question-select>
                </div>

                <div class="dialog-buttons">
                    <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
                        {{ "general.cancel" | translate }}
                    </button>
                    <button [disabled]="!checkValidAnswer" mat-flat-button matStepperNext color="accent" class="dialog-buttons__submit">
                        {{ "general.continue" | translate }}
                    </button>
                </div>
            </mat-step>

            <mat-step [completed]="false" optional>
                <ng-template matStepLabel>{{ "assessmentBuilder.questions.mediaStep" | translate }}</ng-template>
                <h2>{{ "assessmentBuilder.questions.questionAttachments" | translate }}</h2>
               
                <div class="attachments-container">
                    <app-image-selector
                        [reset$]="attachmentsResetSubject$.asObservable()"
                        (newImageEvent)="onAttachmentsChange($event, 'image')"
                        [imageAttachment]="imageAttachment"
                    ></app-image-selector>
                    <app-audio-selector
                        [isRecorderEnabled]="true"
                        [reset$]="attachmentsResetSubject$.asObservable()"
                        (newAudioEvent)="onAttachmentsChange($event, 'audio')"
                        [audioAttachment]="audioAttachment"
                    ></app-audio-selector>
                </div>

                <div class="dialog-buttons">
                    <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
                        {{ "general.cancel" | translate }}
                    </button>
                    <button  mat-flat-button color="accent" [disabled]="selectForm.invalid || !selectForm.dirty" (click)="onSubmit()">
                        {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" | translate) }}
                    </button>
                </div>
            </mat-step>
        </mat-stepper>

        <span class="notifier" *ngIf="selectForm.controls.order.errors">{{ "assessmentBuilder.questionSetDetails.selQuestionsOrder" | translate }}</span>
    </form>
</mat-dialog-content>
