<mat-dialog-content style="max-height: 80vh">
    <div *ngIf="selectQuestion" class="select">
        <form class="form-primary" [formGroup]="selectQuestionForm">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.question' | translate)} }}</mat-label>
                <mat-select formControlName="question" (selectionChange)="onSelectQuestion()">
                    <mat-option *ngFor="let question of questionsList" [value]="question">{{ question.title }}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-spinner *ngIf="!questionsList" size="medium" [variant]="'primary'"></app-spinner>
        </form>

        <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectQuestion = false">
            {{ 'general.createNewOne' | translate }}
        </app-custom-button>
    </div>

    <form *ngIf="!selectQuestion" [formGroup]="selectForm">
        <div class="form-container">
            <div class="select-details-container">
                <mat-form-field appearance="outline" class="form-group" color="accent">
                    <mat-label for="title">{{ "general.title" | translate }}</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-group" color="accent">
                    <mat-label>{{ "assessmentBuilder.value" | translate }}</mat-label>
                    <input matInput formControlName="value">
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group" color="accent">
                    <mat-label for="order">{{ "general.order" | translate }}</mat-label>
                    <input matInput type="number" formControlName="order">
                </mat-form-field>
                <mat-checkbox formControlName="show_options_value">
                    {{ "assessmentBuilder.questions.select.showOptionsValue" | translate }}
                </mat-checkbox>
                <!-- In case of using display_type again: uncomment the following mat-form-field attribute -->
                <!--
                <mat-form-field appearance="outline" class="form-group" color="accent">
                    <mat-label for="display">{{ "assessmentBuilder.questions.select.display" | translate }}</mat-label>
                    <mat-select formControlName="display">
                        <mat-option *ngFor="let type of ['Grid', 'Vertical', 'Horizontal']" [value]="type">{{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                -->
            </div>

            <div class="attachments-container">
                <h2>{{ "assessmentBuilder.questions.select.attachments" | translate }}</h2>
                <app-image-selector
                    [reset$]="attachmentsResetSubject$.asObservable()"
                    (newImageEvent)="questionFormService.imageAttachment = $event; selectForm.markAsDirty()"
                    [imageAttachment]="imageAttachment"
                ></app-image-selector>
                <app-audio-selector
                    [isRecorderEnabled]="true"
                    [reset$]="attachmentsResetSubject$.asObservable()"
                    (newAudioEvent)="questionFormService.audioAttachment = $event; selectForm.markAsDirty()"
                    [audioAttachment]="audioAttachment"
                ></app-audio-selector>
            </div>
        </div>
        <mat-divider></mat-divider>

        <div class="options-header">
            <h2 style="margin-top: 20px;"> {{ "assessmentBuilder.questions.select.options" | translate }}</h2>
            <app-custom-button class="file_input" icon="add" category="secondary" variant="neutral" (click)="addOptions()">
                {{ "general.add" | translate: { type: ("assessmentBuilder.questions.select.option" | translate) } }}
            </app-custom-button>
        </div>
        <div class="options-container">
            <div class="option-forms-container" formArrayName="options">
                <div class="option-form" *ngFor="let control of selectForm.controls.options['controls']; let i = index"
                    [formGroupName]="i">
                    <div>
                        <mat-form-field appearance="outline" class="form-group" color="accent">
                            <mat-label>{{ "general.title" | translate }}</mat-label>
                            <input matInput formControlName="title">
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" class="form-group" color="accent">
                        <mat-label>{{ "assessmentBuilder.value" | translate }}</mat-label>
                        <input matInput formControlName="value">
                    </mat-form-field>
                    <br>
                    <mat-checkbox formControlName="valid" [checked]="selectedOption === i" (change)="selectedOption = i; checkValid(i, $event.checked)">
                        <mat-label>{{ "assessmentBuilder.questions.select.isCorrectAnswer" | translate }}</mat-label>
                    </mat-checkbox>

                    <div class="attachments-container">
                        <app-image-selector
                            [reset$]="attachmentsResetSubject$.asObservable()"
                            (newImageEvent)="handleFileInputOptions($event, 'IMAGE', i)"
                        ></app-image-selector>
                        <app-audio-selector
                            [isRecorderEnabled]="true"
                            [reset$]="attachmentsResetSubject$.asObservable()"
                            (newAudioEvent)="handleFileInputOptions($event, 'AUDIO', i)"
                        ></app-audio-selector>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="dialog-buttons">
        <span class="notifier" *ngIf="selectForm.controls.order.errors">{{ "assessmentBuilder.questionSetDetails.selQuestionsOrder" | translate }}</span>
        <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
            {{ "general.cancel" | translate }}
        </button>
        <button mat-flat-button color="accent" [disabled]="selectForm.invalid || !selectForm.dirty" (click)="onSubmit()">
            {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" | translate) }}
        </button>
    </div>
</mat-dialog-content>
