
<app-spinner style="text-align: -webkit-center;" *ngIf="loading" size="large" [variant]="'primary'"></app-spinner>
<div *ngIf="!loading" style="position:relative">
    <app-custom-button icon="add_circle_outline" category="secondary" variant="primary" (click)="openAssessmentFormDialog()">
    {{ "general.add" | translate: { type: ("general.assessments" | translate | lowercase) } }}
    </app-custom-button>
    <div *ngIf="type === 'your-assessments'">
        <div class="assessments-container">
            <h1>{{ "general.yourAssessments" | translate }}</h1>
            <ng-container *ngFor="let assessment of currentAssessments">
                <ng-container *ngIf="assessment.can_edit && !assessment.archived">
                    <app-assessment-summary [assessment]="assessment" [canEdit]="true" (reloadAssessments)="getAssessments()"></app-assessment-summary>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div *ngIf="type === 'public-assessments'">
        <div class="assessments-container">
            <h1>{{ "general.publicAssessments" | translate }} </h1>
            <ng-container *ngFor="let assessment of currentAssessments">
                <ng-container *ngIf="!assessment.can_edit && !assessment.archived">
                    <app-assessment-summary [assessment]="assessment" [canEdit]="false"></app-assessment-summary>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div *ngIf="type === 'archived-assessments'">
        <div class="assessments-container">
            <h1>
                {{ "general.archived" | translate: {type: "general.assessments"| translate | lowercase } }}
            </h1>
            <ng-container *ngFor="let assessment of currentAssessments">
                <ng-container *ngIf="assessment.archived">
                    <app-assessment-summary [assessment]="assessment" [canEdit]="assessment.can_edit" (reloadAssessments)="getAssessments()"></app-assessment-summary>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
