.add-panel{
    background-color: #d8e1e9;
}

.mat-card{
    margin-right: 20px;
}

.title{
    span{
        font-size: 20px;
        
    }
    margin-bottom: 30px;
}

th{
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400 !important;
}

td{
    padding-right: 50px;
    font-size: 20px;
    color: rgb(99, 99, 99);
}

table{
    text-align: center;
}

.color-header{
    color:rgb(204, 204, 204);
}

h2{
    margin: 20px 0px 0px 0px;
}

.mat-button{
    margin: 10px 10px 10px 10px;
}