.assessment-container {
    margin: 10px 0px;

    .assessment-details {
    
        display: flex;
        justify-content: space-between;
    
        .details {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
        }
    }
}

// .question-sets {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//
//     .add-question-set {
//         cursor: pointer;
//         text-align: center;
//         mat-icon{
//             font-size:50px;
//         }
//     }
//
//     mat-card{
//         width: 20%;
//         height: 100px;
//     }
// }

app-custom-button {
    position: absolute;
    right: 0;
}