        .mat-form-field {
            padding: 10px 15px 10px 0px;
        }

        .input-fields {
            display: flex;
        }

        .mat-button, .button {
            margin:  10px 15px 15px 0px;
        }


.submit-form-button {
    padding: 5px 30px;
    margin-top:  20px;
}

.uploaded-file-name {
    margin-top: 15px;
}