<form class="form-primary" [formGroup]="inputForm" (ngSubmit)="createInput()">
    <div>
        <label for="title">Titel for Question </label>
        <input type="text" formControlName="title">
    </div>

    <div>
        <label for="order">Order </label>
        <input type="number" formControlName="order">
    </div>

    <div>
        <label for="imageAttachment">Visual Attachment</label>
        <input type="text" formControlName="imageAttachment">
    </div>

    <div>
        <label for="audioAttachment">Audio Attachment</label>
        <input type="text" formControlName="audioAttachment">
    </div>

    <div>
        <label for="answer">Answer </label>
        <input type="text" formControlName="answer">
    </div>

    <button type="submit">Save</button>
</form>