<form class="form-primary" [formGroup]="inputForm" (ngSubmit)="createInput()">
    <mat-form-field appearance="outline" class="form-group"  color="accent">
        <mat-label for="title" >Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="order" >Order</mat-label>
        <input matInput formControlName="order" >
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="attachment-img">Image Attachment</mat-label>
        <input matInput formControlName="startNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="attachment-audio">Audio Attachment</mat-label>
        <input matInput formControlName="endNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="answer">Answer</mat-label>
        <input matInput formControlName="stepSize" class="form-control">
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="inputForm.invalid">
        Save
    </button>
</form>