<div>
    <app-custom-button *ngIf="!recording" icon="mic" category="secondary" variant="success" (click)="initiateRecording()">
        Start recording
    </app-custom-button>
    <app-custom-button *ngIf="recording" icon="stop" category="secondary" variant="danger" (click)="stopRecording()">
        Stop recording
    </app-custom-button>
    <div style="margin-bottom: 5px">
        <audio controls="" *ngIf="url">
            <source [src]="sanitize(url)" type="audio/wav">
        </audio>
    </div>
</div>