<mat-card>
  <mat-card-title>{{ "studentsOverview" | translate }}</mat-card-title>
  <mat-card-subtitle>{{ "firstTry" | translate }}</mat-card-subtitle>
  <mat-card-content *ngIf="hasData">
    <div class="left-column">
      <app-select-assessment (assessmentSelection)="selectTableAssessment($event)" [selectTopic]="false"
        [multiple]="true" [displayNonEvaluated]="false"></app-select-assessment>

      <h3>{{ "chartLegend" | translate }}</h3>
      <div class="main-board__charts-container__chart__legend">
        <p>
          <mat-icon [style.color]="'darkgrey'" matListIcon>close</mat-icon>
          {{ "studentNotLinked" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'red'">circle</mat-icon>
          {{ "41correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'orange'">circle</mat-icon>
          {{ "4171correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'limegreen'">circle</mat-icon>
          {{ "70correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'green'">circle</mat-icon>
          {{ "95correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon>radio_button_unchecked</mat-icon>
          {{ "studentNotStarted" | translate }}
        </p>
      </div>
    </div>
    <div class="main-board__charts-container__chart">
      <app-table [tableData]="studentsDataSource" [displayedColumns]="displayedColumns" [isSelectable]="false"
        [hideSearchBar]="true"></app-table>
    </div>
  </mat-card-content>
  <p *ngIf="!hasData">
    {{ "noData" | translate }}
  </p>
</mat-card>