<mat-card>
  <mat-card-title>{{ "general.studentsOverview" | translate }}</mat-card-title>
  <mat-card-subtitle>{{ "dashboard.firstTry" | translate }}</mat-card-subtitle>
  <mat-card-content *ngIf="hasData">
    <div class="left-column">
      <app-select-assessment (assessmentSelection)="selectTableAssessment($event)" [topicSelectionEnabled]="false"
        [multiple]="true" [displayNonEvaluated]="false"></app-select-assessment>
      <app-select-group
        (groupsSelection)="onGroupsSelection($event)"
        [multiple]="true"
      ></app-select-group>
      <h3>{{ "dashboard.scoreByTopicTable.chartLegend" | translate }}</h3>
      <div class="main-board__charts-container__chart__legend">
        <p>
          <mat-icon [style.color]="'darkgrey'" matListIcon>close</mat-icon>
          {{ "dashboard.scoreByTopicTable.studentNotLinked" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'red'">circle</mat-icon>
          {{ "dashboard.scoreByTopicTable.41correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'orange'">circle</mat-icon>
          {{ "dashboard.scoreByTopicTable.4171correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'limegreen'">circle</mat-icon>
          {{ "dashboard.scoreByTopicTable.70correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon [style.color]="'green'">circle</mat-icon>
          {{ "dashboard.scoreByTopicTable.95correct" | translate }}
        </p>
        <p>
          <mat-icon matListIcon>radio_button_unchecked</mat-icon>
          {{ "dashboard.scoreByTopicTable.studentNotStarted" | translate }}
        </p>
      </div>
    </div>
    <div class="main-board__charts-container__chart">
      <app-table [tableData]="studentsDataSource" [displayedColumns]="displayedColumns" [isSelectable]="false"
        [hideSearchBar]="true" (openDetailsEvent)="onOpenStudentDetails($event)"></app-table>
    </div>
  </mat-card-content>
  <p *ngIf="!hasData" style="text-align: center;">
    {{ "general.noData" | translate }}
  </p>
</mat-card>