<div style="overflow: auto; height: 100%;">
    <div class="image-selector">
        <div>
            <img [src]="icon" width="400" height="300" id="myImg" (click)="getCoordinates($event)">
            <p>Click on the image to set the coordinates.</p>
        </div>
        
        <app-image-selector
        [reset$]="attachmentsResetSubject$.asObservable()"
        (newImageEvent)="onNewImageAttachment($event)"
        [imageAttachment]="imageAttachment"></app-image-selector>
    </div>

    <form class="form-primary" name="form" [formGroup]="coordinatesForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Area name:</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <p><strong>First Point:</strong></p>
        <div class="points">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>X1:</mat-label>
                <input matInput readonly="readonly" formControlName="x1">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Y1:</mat-label>
                <input matInput readonly="readonly" formControlName="y1">
            </mat-form-field>
        </div>

        <p><strong>Second Point:</strong></p>
        <div class="points">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>X2:</mat-label>
                <input matInput readonly="readonly" formControlName="x2">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Y2:</mat-label>
                <input matInput readonly="readonly" formControlName="y2">
            </mat-form-field>
        </div>
    </form>

    <div class="coordinates-buttons">
        <button mat-button class="dialog-buttons__cancel" color="secondary" (click)="onResetCoordinates()">Reset</button>
        <button mat-flat-button class="dialog-buttons__submit" color="accent" 
        [disabled]="coordinatesForm.invalid || !coordinatesForm.dirty" (click)="onAddCoordinates()">
        Add Area</button>
    </div>

    <button (click)="drawOnCanvas()">generate canvas</button>

    <canvas id="myCanvas" width="400" height="300" (click)="getCoordinates($event)"></canvas>

    <p><strong>Areas:</strong></p>
    <li *ngFor="let area of areasOptions; let i = index">
        <span>{{i+1}}: {{area.name}}</span>
    </li>

    <div class="dialog-buttons">
        <button mat-button class="dialog-buttons__cancel" color="secondary" mat-dialog-close>{{ "general.cancel" | translate }}</button>
        <button mat-flat-button class="dialog-buttons__submit" color="accent" type="submit" [mat-dialog-close]="areasOptions"
        [disabled]="areasOptions.length == 0" (click)="onSubmmit()">
        save</button>
    </div>
    
</div>
