:host {
  --score-indicator-width: 37px;
}
.table-actions {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  >.mat-form-field:not(:last-of-type) {
    margin-right: 10px;
    flex: 1;
  }
  &__searchbox {
    flex: 2 0 auto;
  }
}
.mat-table {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  width: 100%;
  font-weight: normal;

  .mat-header-row {
    border-radius: 4px 4px 0 0;
  }

  .mat-sort-header {
    ::ng-deep .mat-sort-header-container {
      justify-content: center;
    }
  }
  tr>th:first-of-type,
  tr>td:first-of-type {
    padding-left: 16px;
  }
  .mat-header-cell {
    color: #fff;
    width: inherit;
  }
  .mat-cell,
  .mat-header-cell {
    position: relative;
    padding: 0 8px;
  }
  .mat-row {
    transition: background-color 0.5s ease;

    &>.mat-cell:not(:first-child):hover {
      cursor: pointer;
    }
  }
  img {
    height: 40px;
  }
  .circle-container {
    cursor: default !important;

    mat-icon {
      user-select: none;
    }
  }
  @media (max-width: 1240px) {
    tbody {
      text-align: center;
    }
    .mat-sort-header-container {
      justify-content: center;
    }
  }
  tr.detail-row {
    height: 0;
  }
  td {
    text-align: left;
  }
  td.row-expanded-detail {
    overflow: hidden;
    width: 100%;
  }
  .element-row td {
    border-bottom-width: 0;
  }
  .flip-vertically {
    transform: scaleY(-1);
  }
}
.mat-paginator {
  border-radius: 0 0 4px 4px;
}
.customized-icon {
  display: flex;
  justify-content: center;
  img {
    height: 20px;
    padding-left: 0.5rem;
  }
}
.flex-centered {
  display: flex;
  justify-content: center;
}
// .menu {
//   ::ng-deep button {
//     border: none;
//   }
// }
.score-list {
  display: flex;
  margin: 1em;
  place-content: space-between;
  flex-flow: nowrap;
  overflow-x: auto;
  // Limit for the number of score indicators to be displayed: 10
  max-width: calc(10 * var(--score-indicator-width));
}
.details-expanded {
  border-bottom: 4px solid #FF5722;
  padding-bottom: 4px;
}
.sel-overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 8px;

  .no-data {
    border-radius: 9999px;
    border: 2px solid;
    margin-right: 28px;
  }
  img:first-of-type, .no-data {
    height: 33px;
    width: 33px;
  }
  img:nth-of-type(2) {
    height: 20px;
    width: auto;
  }
}
.title {
  width: 300px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}


app-spinner {
  margin: 0vh 20vh;
}