<mat-toolbar class="breadcrumb">
  <mat-list class="breadcrumb__list" *ngIf="breadcrumb.length">
      <mat-list-item>
          <span class="breadcrumb__spacer">
              <span *ngFor="let item of breadcrumb; let i = index">
                  <a *ngIf="item?.url" [routerLink]="item?.url" class="breadcrumb__list__item">{{ item.label | translate }}</a>
                  <span *ngIf="!item?.url" class="breadcrumb__list__last-item">{{ item.label | translate }}</span>
                  <span *ngIf="breadcrumb.length !== i+1">{{symbol}}</span>
              </span>
          </span>
      </mat-list-item>
  </mat-list>
</mat-toolbar>