<div *ngIf="breadcrumb.length && breadcrumb[0].type === 'library'" class="header">
    <div *ngFor="let item of breadcrumb">
        <span class="first-line">
            <p>
                {{ 'header.library.headerPt1' | translate }}
            </p>
            <p class="title">
                {{ 'header.library.title' | translate }}
            </p>
            <p>
                {{ 'header.library.headerPt2' | translate }}
            </p>
            <p class="section" [style.background-color]="sectionColor(item.section)">
                {{ 'header.library.'+ item.section + '.section' | translate }}
            </p>.
        </span>
        <span class="final-text">
            {{ 'header.library.'+ item.section + '.headerPt3' | translate }}
        </span>
    </div>
</div>