.header {
  display: flex;
  flex-direction: column;
  margin-right: 25rem;

  .mat-toolbar {
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    max-width: 30em;
  }

  .mat-toolbar-single-row {
    white-space: normal !important;
  }
  div {
    right: 65%;
    font-size: 1.2em;
    bottom: 20%;
  }
  p {
    margin: 0;
  }
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  a {
    font-size: .5em;
    color: #4AA0DB;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .align-end {
    align-items: flex-end;
  }
  .final-text {
    max-width: 500px;
    white-space: pre-wrap;
  }
  .first-line {
    white-space: pre-wrap;
  }
  .title {
    font-weight: bold;
  }
  .font-weight-light {
    font-weight: 400;
  }
  .section {
    color: #FFFFFF;
  }
  .students {
    gap: 0 .5em;
    font-size: .6em;

    img {
      width: 40px;
      height: auto;
    }
    .flower {
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 400;
        white-space: pre-wrap;
      }
    }
  }
  .text {
    max-width: 600px;
    white-space: pre-wrap;
  }
}
div.default-header {
  font-size: 1.2em;
  margin-right: 40vw;
}
@media (min-width: 1600px) {
  .header {
    div {
      right: 60vh;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1100px) {
  .header {
    div {
      right: 19%;
    }
  }
}