<div *ngIf="breadcrumb.length && breadcrumb[0].type === 'library'" class="header">
    <div *ngFor="let item of breadcrumb">
        <span class="first-line">
            <p>
                {{ 'header.library.headerPt1' | translate }}
            </p>
            <p class="title">
                {{ 'header.library.title' | translate }}
            </p>
            <p>
                {{ 'header.library.headerPt2' | translate }}
            </p>
            <p class="section" [style.background-color]="sectionColor(item.section)">
                {{ 'header.library.'+ item.section + '.section' | translate }}
            </p>.
        </span>
        <span class="final-text">
            {{ 'header.library.'+ item.section + '.headerPt3' | translate }}
        </span>
    </div>
</div>

<div *ngIf="breadcrumb.length && breadcrumb[0].type === 'dashboard'" class="header" style="margin-right: 23rem;">
    <p style="font-weight: bolder;">
        {{ 'header.dashboard.hiTeacher' | translate }} {{selfName}}
    </p>
    <p class="text">
        {{ 'header.dashboard.text' | translate }}
    </p>
</div>
