.question-header{
    text-align: center;

    h2:nth-child(1) {
        float: left;
    }
}

.options-container {
    display: flex;
    justify-content: space-evenly;

    .option {
        padding: 0.5rem;
        border-radius: 1.25rem;
        width: 25%;
        text-align: center;
        display: flex;
        flex-direction: column;

        mat-card {
            padding: 8px !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            min-height: -webkit-fill-available;
            justify-content: space-between;
        }
        mat-icon {
            align-self: center;
        }
        &:not(.-card) {
            background-color: rgb(223, 223, 223);
        }
        .student {
            outline-width: 2px;
            outline-color: #7e8abf;;
            outline-style: solid;
        }
    }
}