<app-select-assessment (assessmentSelection)="selectChartAssessment($event)" [selectTopic]="false" [multiple]="false"></app-select-assessment>

  <div class="main-board__charts-container">
    <div class="main-board__charts-container__options">
      <h3>Assessment title</h3>
      <mat-radio-group class="radio-group">
        <ng-container *ngFor="let student of studentsListChart">
          <mat-radio-button [value]="student" (change)="selectStudent(student)">{{ student.label }}</mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
    <div class="main-board__charts-container__chart">
      <canvas id="currentChart"></canvas>
    </div>
  </div>

