<form class="form-primary" [formGroup]="sortForm" (ngSubmit)="createSort()">

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="title" >Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="order" >Order</mat-label>
        <input matInput formControlName="order" >
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="categoryA">Category A</mat-label>
        <input matInput formControlName="categoryA">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="categoryB">Category B</mat-label>
        <input matInput formControlName="categoryA">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label for="answer">Answer</mat-label>
        <input matInput formControlName="answer" class="form-control">
    </mat-form-field>

    <div>
        <h3>Category {{ sortForm.value.categoryA}}:</h3>
        <mat-form-field appearance="outline">
            <mat-label>Option 1</mat-label>
        <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Option 2</mat-label>
        <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Option 3</mat-label>
        <input matInput>
        </mat-form-field>
       
        <button mat-flat-button color="primary" type="submit">
            Add Options
        </button>

        <h3>Category {{ sortForm.value.categoryB}}:</h3>
        <mat-form-field appearance="outline">
            <mat-label>Option 1</mat-label>
        <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Option 2</mat-label>
        <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Option 3</mat-label>
        <input matInput>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">
            Add Options
        </button>
    </div>
   

    <button mat-flat-button color="primary" type="submit" [disabled]="sortForm.invalid">
        Save
    </button>
    </form>

   

