<div class="question-header">
    <h2>Q{{ question.order }}</h2>
    <h2>{{ question.title }}</h2>
    <img *ngIf="imageAttachment" [src]="utilitiesService.getSource(imageAttachment.file)" alt="" class="img-attachment">
    <mat-icon class="play-audio" (click)="playAudio(utilitiesService.getSource(audioAttachment.file))" *ngIf="audioAttachment">volume_up
    </mat-icon>
</div>

<div class="calc-container">
    <div class="calc">
        <p> {{question.first_value}} </p>
        <p> {{operatorSymbol}} </p>
        <p> {{question.second_value}} </p>
        <p> = </p>
    </div>
    <div class="squares" [style.width]="(answerNumber.toString().length * 10) + '%'">
        <ng-container *ngFor="let char of answerNumber.toString().split('')">
            <div class="square">{{char}}</div>
        </ng-container>
    </div>
</div>