<h3><b>{{ "assessmentBuilder.questions.imageAttachment" | translate }}</b></h3>
<input hidden accept="image/*" (change)="handleFileInput($event)" #imageAttachmentInput type="file">
<app-custom-button class="file_input" category="secondary" variant="neutral" (click)="imageAttachmentInput.click()">
    {{ imageAttachment ? ("assessmentBuilder.changeFile" | translate) : ("general.choose" | translate: {type: "assessmentBuilder.file" | translate }) }}
</app-custom-button>
<p class="file-name">{{ imageAttachment ? imageAttachment.name : ("assessmentBuilder.noFileChosen" | translate) }}</p>