<div class="main-board">
  <div class="main-board__top-container">
    <h1>{{ "questions" | translate }} ({{ questionsDataSource.data.length }})
      <span *ngIf="selectedQuestions.length">({{
        selectedQuestions.length }} {{ "selected" | translate }})</span>
    </h1>
    <div class="main-board__top-container__actions">
<!--       <button mat-flat-button color="primary" (click)="downloadData()" [disabled]="true">
        <mat-icon>get_app</mat-icon><span>Download</span>
      </button> -->
    </div>
  </div>

  <app-table [tableData]="questionsDataSource" [displayedColumns]="displayedColumns"
    [isSelectable]="true" (selectionChangedEvent)="onSelectionChange($event)"
    (openDetailsEvent)="onOpenDetails($event)"></app-table>
</div>
