<div class="main-board">
  <div class="main-board__top-container">
    <app-previous-button [path]="previousPageUrl"></app-previous-button>
    <h1>{{ "assessments.questionsList.questions" | translate }} ({{ questionsDataSource.data.length }})
      <span *ngIf="selectedQuestions.length">({{
        selectedQuestions.length }} {{ "assessments.selected" | translate }})</span>
    </h1>
    <div class="main-board__top-container__actions">
<!--       <button mat-flat-button color="primary" (click)="downloadData()" [disabled]="true">
        <mat-icon>get_app</mat-icon><span>Download</span>
      </button> -->
    </div>
  </div>

  <app-table [tableData]="questionsDataSource" [displayedColumns]="displayedColumns"
    [isSelectable]="true" (selectionChangedEvent)="onSelectionChange($event)"
    (openDetailsEvent)="onOpenDetails($event)" (customActionEvent)="onCustomAction($event)"></app-table>

  <div *ngIf="showQuestionPreview">
    <mat-card *ngIf="questionDetails && questionDetails.question_type === 'SEL'">
      <app-question-sel [question]="questionDetails"></app-question-sel>
    </mat-card>

    <mat-card *ngIf="questionDetails && questionDetails.question_type === 'SELECT'">
      <app-question-select [question]="questionDetails" [evaluated]="true"></app-question-select>
    </mat-card>
  
    <mat-card *ngIf="questionDetails && questionDetails.question_type === 'INPUT'">
      <app-question-input [question]="questionDetails" [evaluated]="true"></app-question-input>
    </mat-card>
  
    <mat-card *ngIf="questionDetails && questionDetails.question_type === 'SORT'">
      <app-question-sort [question]="questionDetails" [evaluated]="true"></app-question-sort>
    </mat-card>
  
    <mat-card *ngIf="questionDetails && questionDetails.question_type === 'NUMBER_LINE'">
      <app-question-numberline [question]="questionDetails" [evaluated]="true"></app-question-numberline>
    </mat-card>

    <mat-card *ngIf="questionDetails && questionDetails.question_type === 'DRAG_AND_DROP'">
      <app-question-drag-and-drop [question]="questionDetails" [evaluated]="true" [assessmentId]="assessmentId" [topicId]="topicId">
      </app-question-drag-and-drop>
    </mat-card>
  </div>
</div>
