<div class="main-board">
  <div class="main-board__top-container back-button">
    <app-previous-button path="groups"></app-previous-button>
    <h1> {{ groupName }} </h1>
    <div class="main-board__top-container__actions">
        <app-custom-button icon="edit_outline" category="secondary" variant="primary" (click)="onEdit()">
          {{ "general.edit" | translate: { type: ("general.group" | translate | lowercase) } }}
        </app-custom-button>
        <app-custom-button icon="delete" category="secondary" variant="primary" (click)="onDelete()">
          {{ "general.delete" | translate: {type: "general.group" | translate | lowercase} }}
        </app-custom-button>
    </div>
  </div>  

  <div class="main-board__tabs-container">
      <h3> {{ "groups.groupStudents" | translate }} </h3>
      <app-table [tableData]="studentsDataSource" [displayedColumns]="displayedColumns"
        [isSelectable]="false" (openDetailsEvent)="onOpenDetails($event)"></app-table>
  </div>
</div>
