<div class="main-board">

  <div class="main-board__top-container">
    <h1>Topics - {{topicsDataSource.data.length}} <span *ngIf="selectedTopics.length">({{ selectedTopics.length }}
        selected)</span></h1>
    <button mat-stroked-button [disabled]="!selectedTopics.length" color="accent" (click)="deleteSelection()">
      <mat-icon>delete_outline</mat-icon><span>Delete topic(s)</span>
    </button>
    <button mat-stroked-button color="accent" (click)="openCreateTopicDialog()">
      <mat-icon>add_circle_outline</mat-icon><span>Create a topic</span>
    </button>
    <button mat-stroked-button color="accent" (click)="downloadData()">
      <mat-icon>get_app</mat-icon><span>Download</span>
    </button>
  </div>

  <div *ngIf="currentAssessment" class="main-board__current-object-details">
    <p>{{ currentAssessment.title }}</p>
    <p>{{ currentAssessment.subject }}</p>
    <p>{{ currentAssessment.grade }}</p>
    <p>{{ currentAssessment.country }}</p>
    <p>{{ currentAssessment.language }}</p>
    <p>{{ currentAssessment.private }}</p>
  </div>

  <app-table [tableData]="topicsDataSource" [displayedColumns]="displayedColumns"
    [filterableColumns]="filterableColumns" [isSelectable]="true" (selectionChangedEvent)="onSelectionChange($event)"
    (openDetailsEvent)="onOpenDetails($event)"></app-table>

  <ng-template #createTopicDialog>
    <h2 mat-dialog-title>Create a new assessment</h2>
    <mat-dialog-content>
      <form [formGroup]="createNewTopicForm" (ngSubmit)="submitCreateNewTopic()" class="form-primary">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Order</mat-label>
          <input matInput type="number" formControlName="order">
        </mat-form-field>
        <button mat-button color="accent" type="submit" mat-dialog-close>Add</button>
      </form>
    </mat-dialog-content>
  </ng-template>
</div>