<mat-toolbar class="header-toolbar" *ngIf="isAuthenticated">
  <app-custom-breadcrumb></app-custom-breadcrumb>

  <button mat-button class="header-toolbar__menu-button" aria-label="Access account settings"
    [matMenuTriggerFor]="accountMenu">
    <span>{{ selfName }}</span>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="langMenu" class="menu-button">
      <i class="uil uil-globe"></i>
      {{ "general.language" | translate }}
    </button>
    
    <button mat-menu-item (click)="logout()">
      <mat-icon matListIcon type="submit">logout</mat-icon>
      <span>
        {{ "general.logout" | translate }}
      </span>
    </button>

    <mat-menu #langMenu="matMenu">
      <ng-container *ngFor="let lang of languages">
        <app-custom-button mat-menu-item (click)="changeLanguage(lang)" [ngClass]="{'selected': languageCode === lang.code}">
          <!-- To get more instant country flags: https://flagcdn.com/  -->
          <img style="width: 25px;" [src]="lang.flag">
          {{ lang.name }}
        </app-custom-button>
      </ng-container>
    </mat-menu>
  </mat-menu>
</mat-toolbar>


<mat-sidenav-container autosize="true" [ngClass]="isAuthenticated ? '' : 'login'">
  <mat-sidenav #sidenav mode="side" [opened]="isAuthenticated">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="dashboard-active"(click)="showABSubmenu = false; showLSubmenu = false">
        <mat-icon matListIcon>space_dashboard</mat-icon>
        {{ "general.dashboard" | translate }}
      </a>
      <a mat-list-item routerLink="students" routerLinkActive="students-active" (click)="showABSubmenu = false; showLSubmenu = false">
        <mat-icon matListIcon>account_box</mat-icon>
        {{ "general.students" | translate }}
      </a>
      <a mat-list-item routerLink="groups" routerLinkActive="groups-active" (click)="showABSubmenu = false; showLSubmenu = false">
        <mat-icon matListIcon>group</mat-icon>
        {{ "general.groups" | translate }}
      </a>
      <!-- Submenu for Library -->
      <mat-divider *ngIf="showLSubmenu"></mat-divider>
      <mat-list-item (click)="showABSubmenu = false; showLSubmenu = !showLSubmenu">
        <mat-icon matListIcon>insert_drive_file</mat-icon>
        {{ "general.library" | translate }}
      </mat-list-item>
      <mat-divider *ngIf="showLSubmenu"></mat-divider>
      <div class="submenu" [ngClass]="{'expanded' : showLSubmenu}">
        <!-- <a mat-list-item routerLink="library/assessments" routerLinkActive="library-active" (click)="showABSubmenu = false"> -->
        <a mat-list-item routerLink="library" routerLinkActive="library-active" (click)="showABSubmenu = false">
          {{ "general.assessments" | translate }}
        </a>
        <a mat-list-item routerLink="library" routerLinkActive="library-active" (click)="showABSubmenu = false">
        <!-- <a mat-list-item routerLink="library/set-of-questions" routerLinkActive="library-active" (click)="showABSubmenu = false"> -->
          {{ "general.library" | translate }}
        </a>
        <!-- <a mat-list-item routerLink="library/questions" routerLinkActive="library-active" (click)="showABSubmenu = false"> -->
          <a mat-list-item routerLink="library" routerLinkActive="library-active" (click)="showABSubmenu = false">
          {{ "general.questions" | translate }}
        </a>
      </div>
      <!-- Submenu for Assesment Builder -->
      <mat-divider *ngIf="showABSubmenu"></mat-divider>
      <mat-list-item (click)="showLSubmenu = false; showABSubmenu = !showABSubmenu">
        <mat-icon matListIcon>space_dashboard</mat-icon>
        {{ "general.assessmentBuilder" | translate }}
      </mat-list-item>
      <mat-divider *ngIf="showABSubmenu"></mat-divider>
      <div class="submenu" [ngClass]="{'expanded' : showABSubmenu}">
        <a mat-list-item routerLink="assessment-builder/your-assessments" routerLinkActive="list-item-active">
          {{ "general.yourAssessments" | translate }}
        </a>
        <a mat-list-item routerLink="assessment-builder/public-assessments" routerLinkActive="list-item-active">
          {{ "general.publicAssessments" | translate }}
        </a>
        <a mat-list-item routerLink="assessment-builder/archived-assessments" routerLinkActive="list-item-active">
          {{ "general.archived" | translate: {type: "general.assessments" | translate | lowercase} }}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="isAuthenticated ? '' : 'login'">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>