<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="isAuthenticated">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon">space_dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="assessments" routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon">quiz</mat-icon>
        Assessments
      </a>
      <a mat-list-item routerLink="students" routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon">people</mat-icon>
        Students
      </a>
   </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

