.mat-sidenav-container {
  height: 100vh;
  width: 100vw;

  & > .mat-sidenav {
    padding: 16px;
    font-weight: bold; // Fixes a glitch where sidenav width varies because of text getting bolder when clicked
  }

  & > .mat-sidenav-content {
    padding: 24px;

    & > .account-toolbar {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.mat-list-item:last-child {
  position: absolute;
  bottom: 0;
}