<mat-toolbar class="header-toolbar" *ngIf="isAuthenticated">
  
  <lib-mat-breadcrumb class="header-toolbar__breadcrumbs"></lib-mat-breadcrumb>

  <button mat-button class="header-toolbar__menu-button" aria-label="Access account settings"
    [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
    <span>{{ selfName }}</span>
  </button>
  <mat-menu #accountMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">
      <mat-icon matListIcon type="submit">logout</mat-icon>
      <span>
        {{ "logout" | translate }}
      </span>
    </button>
  </mat-menu>

</mat-toolbar>


<mat-sidenav-container autosize="true">
  <mat-sidenav #sidenav mode="side" [opened]="isAuthenticated">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="list-item-active">
        <mat-icon matListIcon>space_dashboard</mat-icon>
        {{ "dashboard" | translate }}
      </a>
      <a mat-list-item routerLink="students" routerLinkActive="list-item-active">
        <mat-icon matListIcon>account_box</mat-icon>
        {{ "students" | translate }}
      </a>
      <a mat-list-item routerLink="assessments" routerLinkActive="list-item-active">
        <mat-icon matListIcon>quiz</mat-icon>
        {{ "assessments" | translate }}
      </a>
      <a mat-list-item routerLink="assessment-builder" routerLinkActive="list-item-active">
        <mat-icon matListIcon>space_dashboard</mat-icon>
        {{ "assessmentBuilder" | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
