.account-toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(171, 171, 171, 0.5);
  box-shadow: 0px 3px 8px 1px rgba(171, 171, 171, 0.5);
  z-index: 10;
  position: relative;
  height: 16vh;

  // TODO finish
  &__menu-button {
    mat-icon {
      font-size: 40px;
      width: 40px;
    }
  }
}

.mat-sidenav-container {
  height: 100vh;
  width: 100vw;

  & > .mat-sidenav {
    width: 14%;
    padding: 16px;
    font-weight: normal; // Fixes a glitch where sidenav width varies because of text getting bolder when clicked
  }

  & > .mat-sidenav-content {
    padding: 24px;
  }
}
