.header-toolbar {
  display: flex;
  justify-content: flex-end;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(200, 200, 200, 0.5);
  box-shadow: 0px 2px 4px 1px rgba(200, 200, 200, 0.5);
  z-index: 10;
  position: relative;

  background: url('/assets/images/headerBackgroundImage.png');
  background-size: cover;
  height: 25vh;

  &__menu-button {
    color: #666666;
    top: -30%;
    .mat-icon {
      margin-left: 10px;
    }
  }
}

.login {
  height: 100vh !important;
  padding: inherit !important;
}

.mat-sidenav-container {
  background-color: #F4FDFF;
  height: 75vh;
  width: 100vw;

  & > .mat-sidenav-content {
    padding: 24px;
    height: calc(100% - 48px); // Minus the padding
  }
}

.submenu {
  overflow: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu.expanded {
  height: 100%;
}

.dashboard-active {
  color: red;
  border-left-color: red;
}

.students-active {
  color: #00BCD4!important;
  border-left-color: #00BCD4!important;
}

.groups-active {
  color: #3F51B5!important;
  border-left-color: #3F51B5!important;
}

.library-active {
  color: #FF5722!important;
  border-left-color: #FF5722!important;
}

.library-questions-active {
  color: #FFEB3B!important;
  border-left-color: #FFEB3B!important;
}

.dashboard-active {
  color: #009688!important;
  border-left-color: #009688!important;
}

.list-item-active {
  color: green;
  border-left-color: green;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #4aa0db !important;
  color: #fff !important;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #E0E0E0;
  color: #BDBDBD;
}