.attachments-container {
    display: flex;
}

.mat-form-field {
    margin: 10px !important;
}

.container {
    overflow: auto;
    max-height: 85vh;
    min-width: 85vh;

    h1 {
        font-weight: 500;
        font-size: 23px;
    }

    .drag-and-drop-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        .title {
            min-width: -webkit-fill-available;
            margin: 10px 10px 0px 10px !important;
        }
    }
}

.dialog-buttons {
    margin-top: 20px;
    align-items: center;
}

.attachments-container {
    app-image-selector {
        margin-right: 20px;
    }
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-primary {
    display: flex;
    flex-direction: row;

    app-spinner {
        margin: auto;
    }
}

.notifier {
    color: red;
}