<div *ngIf="selectQuestion" class="select">
    <form class="form-primary" [formGroup]="selectQuestionForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.question' | translate)} }}</mat-label>
            <mat-select formControlName="question" (selectionChange)="onSelectQuestion()">
                <mat-option *ngFor="let question of questionsList" [value]="question">{{ question.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-spinner *ngIf="!questionsList" size="medium" [variant]="'primary'"></app-spinner>
    </form>

    <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectQuestion = false">
        {{ 'general.createNewOne' | translate }}
    </app-custom-button>
</div>

<div *ngIf="!selectQuestion" class="container">
    <h1>{{ "assessmentBuilder.questions.dragAndDrop.formTitle" | translate }}</h1>

    <form [formGroup]="dragAndDropForm">
        <div class="drag-and-drop-form">
            <mat-form-field appearance="outline" color="accent" floatLabel="always" class="title">
                <mat-label>{{ "general.title" | translate }}</mat-label>
                <input matInput required type="text" formControlName="title" [placeholder]="'assessmentBuilder.questions.titlePlaceholder' | translate">
            </mat-form-field>
            <span>
                <mat-form-field *ngIf="learningObjectives?.length" appearance="outline" color="accent">
                    <mat-label>{{ "assessmentBuilder.learningObjective" | translate }}</mat-label>
                    <mat-select #learningObjectiveSelect required formControlName="learning_objective">
                        <mat-option *ngFor="let learningObjective of learningObjectives" [value]="learningObjective.code"
                        [matTooltip]="languageService.getLanguageCode() === 'eng' ? learningObjective.name_eng : learningObjective.name_ara"
                        matTooltipShowDelay="1000"
                        >
                            <span style="font-weight: 500; margin-right: 10px;">{{ learningObjective.code }}</span>
                            <ng-container *ngIf="learningObjectiveSelect.panelOpen">
                                {{ languageService.getLanguageCode() === 'eng' ? learningObjective.name_eng : learningObjective.name_ara }}
                            </ng-container>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>{{ "general.order" | translate }}</mat-label>
                    <input matInput required type="number" formControlName="order">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>{{ "general.type" | translate }}</mat-label>
                    <mat-select formControlName="type" [disabled]="questionType !== undefined">
                        <mat-option *ngFor="let type of dragAndDropType" [value]="type">
                            {{ "assessmentBuilder.questions.dragAndDrop.type." + type.toLowerCase() | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
        </div>
        <mat-stepper [orientation]="(stepperOrientation | async)!">
            <mat-step [editable]="questionDetails ? questionDetails?.invalid : true">
                <ng-template matStepLabel>{{ "assessmentBuilder.questions.typeStep" | translate }}</ng-template>

                <ng-container *ngIf="dragAndDropForm.controls.type.value === 'NORMAL'">
                    <app-normal-drag-and-drop-form  [assessmentId]="assessmentId" [topicId]="topicId"
                        [question]="question" [toClone]="toClone" [createDraggableOptions$]="createDraggableOptions$"
                        (dragAndDropDetailsForm)="questionDetails = $event" (changedBackgroundImage)="changedBackgroundImage = $event">
                    </app-normal-drag-and-drop-form>
                </ng-container>

                <ng-container *ngIf="dragAndDropForm.controls.type.value === 'CUSTOMIZED'">
                    <app-customized-drag-and-drop-form [question]="question" [toClone]="toClone"
                        (dragAndDropDetailsForm)="questionDetails = $event">
                    </app-customized-drag-and-drop-form>
                </ng-container>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{ "assessmentBuilder.questions.mediaStep" | translate }}</ng-template>
                <h2>{{ "assessmentBuilder.questions.dragAndDrop.questionAttachments" | translate }}</h2>
                <div class="attachments-container">
                    <app-image-selector 
                        [reset$]="attachmentsResetSubject$.asObservable()"
                        (newImageEvent)="questionFormService.imageAttachment = $event"
                        [imageAttachment]="imageAttachment">
                    </app-image-selector>
                    <app-audio-selector
                        [isRecorderEnabled]="true"
                        [reset$]="attachmentsResetSubject$.asObservable()"
                        (newAudioEvent)="questionFormService.audioAttachment = $event"
                        [audioAttachment]="audioAttachment">
                    </app-audio-selector>
                </div>

                <div class="dialog-buttons">
                    <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
                        {{ "general.cancel" | translate }}
                    </button>
                    <button mat-flat-button [mat-dialog-close]="true" color="accent" class="dialog-buttons__submit"
                        [disabled]="dragAndDropForm.invalid || (questionDetails ? questionDetails?.invalid : true)" (click)="onSubmit()">
                        {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" |
                        translate) }}
                    </button>
                </div>
            </mat-step>
        </mat-stepper>

        <span class="notifier" *ngIf="dragAndDropForm.controls.order.errors">{{ "assessmentBuilder.topicDetails.selQuestionsOrder" | translate }}</span>
    </form>
</div>