<div class="question-header" *ngIf="evaluated">
    <h2>Q{{ question.order }}: {{ question.title }}</h2>
</div>
<div class="number-line">
    <span>{{ question.start }}</span>
    <mat-slider class="number-line-slider"
                [color]="'green'"
                [max]="question.end"
                [min]="question.start"
                [step]="question.step"
                [thumbLabel]="question.show_value"
                [tickInterval]="question.show_ticks ? question.step : 0"
                aria-labelledby="example-name-label">
    </mat-slider>
    <span>{{ question.end }}</span>
</div>
<div class="correct-answer" *ngIf="evaluated">
    Correct answer: {{question.expected_value}}
</div>
<div *ngIf="answer" class="student-answer">
    Student answer: {{answer}}
</div>
