<div class="question-header">
    <h2>Q{{ question.order }}: {{ question.title }}</h2>
    <img *ngIf="imageAttachment" [src]="getSource(imageAttachment.file)" alt="">
    <mat-icon class="play-audio" (click)="playAudio(getSource(audioAttachment.file))" *ngIf="audioAttachment">volume_up</mat-icon>
</div>
<div class="number-line">
    <span>{{ question.start }}</span>
    <mat-slider
            style="overflow-x: hidden"
            class="number-line-slider"
            [value]="evaluated ? question.expected_value : answer"
            [max]="question.end"
            [min]="question.start"
            [step]="question.step"
            [tickInterval]="question.show_ticks ? question.step : 0">
    </mat-slider>
    <span>{{ question.end }}</span>
</div>
<div class="correct-answer" *ngIf="evaluated">
    {{ "correctAnswer" | translate }} {{question.expected_value}}
</div>
<div *ngIf="answer" class="student-answer">
    {{ "studentAnswer" | translate }} {{answer}}
</div>
