
.question-header{
  text-align: center;

  h2:nth-child(1) {
    float: left;
  }
}
.number-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;

  div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .answer {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    border-radius: 9px;
    border: solid 4px #89CF87;
  }
}
.play-audio {
  cursor: pointer;
}