.number-line {
    text-align: center;
    width: 100%;
  
    .number-line-slider {
      width: 80%;
  
      ::ng-deep {
        .mat-slider-ticks-container {
          display: flex;
          align-items: center;
          overflow: visible;
  
          .mat-slider-ticks {
            height: 12px;
  
            background-image: repeating-linear-gradient(
                            to right,
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0.4) 1px,
                            transparent 0,
                            transparent
            );
  
            // The last tick doesn't display properly on the default styling
            // so this is a trick to replace it by a border-right
            border-right: 1px solid rgba(0, 0, 0, 0.7);
          }
        }
  
        .mat-slider-thumb,
        .mat-slider-thumb-label {
          background-color: #1b6aa0 !important;
        }
  
        .mat-slider-thumb-label {
          right: -10px !important;
          top: -22px !important;
          height: 20px !important;
          width: 20px !important;
        }
      }
    }
  }

.question-header{
  text-align: center;
}

.play-audio {
  cursor: pointer;
}