<div class="question-header">
    <h2>Q{{ question.order }}</h2>
    <h2>{{ question.title }}</h2>
    <img *ngIf="imageAttachment" [src]="getSource(imageAttachment.file)" alt="" class="img-attachment">
    <mat-icon class="play-audio" (click)="playAudio(getSource(audioAttachment.file))" *ngIf="audioAttachment">volume_up</mat-icon>
</div>
<div class="number-line">
    <div *ngFor="let val of numberlineItems"
        class="number-line__item"
        [class.answer]="val === question.expected_value"
        [style]="'color: ' + getNumberColor(val)"
    >
        {{ val }}
    </div>
</div>
<div class="correct-answer" *ngIf="evaluated">
    {{ "shared.questions.correctAnswer" | translate }}: {{ question.expected_value }}
</div>
<div *ngIf="answer" class="student-answer">
    {{ "shared.questions.studentAnswer" | translate }} {{answer}}
</div>
