<form class="form-primary" [formGroup]="TopicForm" (ngSubmit)="createTopic()">
    <div>
        <label for="name">Titel for Topic </label>
        <input type="text" formControlName="name">
    </div>

    <button type=button (click)="setType('attachment', 'IMAGE')">Image</button>
    <button type=button (click)="setType('attachment', 'AUDIO')">Audio</button>
    <div>
        <label>attachment</label>
        <input type="file"
        formControlName="attachment"
               (change)="handleFileInput($event, 'attachment')">
    </div>

    <button type="button" (click)="setType('icon', 'IMAGE')">Image</button>
    <button type="button"  (click)="setType('icon', 'AUDIO')">Audio</button>
    <div>
        <label>icon</label>
        <input type="file"
        formControlName="icon"
               (change)="handleFileInput($event, 'icon')">
    </div>

    <div>
        <label for="order">Order </label>
        <input type="number" formControlName="order">
    </div>

    <div>
        <label for="description">Description</label>
        <input type="text" formControlName="description">
    </div>

    <div>
        <label for="showFeedback">Show Feedback</label>
        <select formControlName="showFeedback" >
            <option *ngFor="let feedbackType of feedback" [ngValue]="feedbackType.id">{{feedbackType.name}}</option>
        </select>
    </div>

    <div>
        <label for="allowSkip">Allow Skip </label>
        <input type="checkbox" formControlName="allowSkip">
    </div>

    <div>
        <label for="evaluated">Evaluated</label>
        <input type="checkbox" formControlName="evaluated">
    </div>

    <div>
        <label for="praise">Praise </label>
        <input type="number" formControlName="praise">
    </div>

    <div>
        <label for="maxWrongAnswers">Max wrong answers </label>
        <input type="number" formControlName="maxWrongAnswers">
    </div>

    <button type="submit">Save</button>
</form>