<div class="main-board__details" *ngIf="!!currentTopic && !!currentStudent">
  <div class="main-board__details__element">
      <span class="title">{{ "general.studentName" | translate }}</span>
      <span class="value">{{ currentStudent.full_name }}</span>
  </div>
  <div class="main-board__details__element">
      <span class="title">{{ "answers.questionsListAnswers.topicName" | translate }}</span>
      <span class="value">{{ currentTopic.name }}</span>
  </div>
  <div class="main-board__details__element">
      <span class="title">{{ "general.questionsNumber" | translate }}</span>
      <span class="value">{{ currentTopic.questions_count }}</span>
  </div>
</div>


<app-table [tableData]="questionsAnswersDataSource" [displayedColumns]="displayedColumns" [isSelectable]="false"
  [searchableColumns]="searchableColumns" (openDetailsEvent)="onOpenDetails($event)"
  (customActionEvent)="onCustomAction($event)"></app-table>

<ng-template #questionPreviewDialog>
  <ng-container *ngIf="questionDetails && questionDetails.question_type === 'SELECT'">
    <app-question-select [question]="questionDetails" [evaluated]="true"></app-question-select>
  </ng-container>

  <ng-container *ngIf="questionDetails && questionDetails.question_type === 'INPUT'">
    <app-question-input [question]="questionDetails" [evaluated]="true"></app-question-input>
  </ng-container>

  <ng-container *ngIf="questionDetails && questionDetails.question_type === 'SORT'">
    <app-question-sort [question]="questionDetails" [evaluated]="true"></app-question-sort>
  </ng-container>

  <ng-container *ngIf="questionDetails && questionDetails.question_type === 'NUMBER_LINE'">
    <app-question-numberline [question]="questionDetails" [evaluated]="true"></app-question-numberline>
  </ng-container>

  <ng-container *ngIf="questionDetails && questionDetails.question_type === 'DRAG_AND_DROP'">
    <app-question-drag-and-drop [question]="questionDetails" [evaluated]="true" [assessmentId]="assessmentId" [topicId]="topicId">
    </app-question-drag-and-drop>
  </ng-container>
</ng-template>