<div *ngIf="selectQuestion" class="select">
    <form class="form-primary" [formGroup]="selectQuestionForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.question' | translate)} }}</mat-label>
            <mat-select formControlName="question" (selectionChange)="onSelectQuestion()">
                <mat-option *ngFor="let question of questionsList" [value]="question">{{ question.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-spinner *ngIf="!questionsList" size="medium" [variant]="'primary'"></app-spinner>
    </form>

    <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectQuestion = false">
        {{ 'general.createNewOne' | translate }}
    </app-custom-button>
</div>

<form *ngIf="!selectQuestion" [formGroup]="inputForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.title" | translate }}</mat-label>
            <input matInput required type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.order" | translate }}</mat-label>
            <input matInput required type="number" formControlName="order">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "assessmentBuilder.questions.difficulty" | translate }}</mat-label>
            <mat-select required formControlName="difficulty">
                <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.id">{{ difficulty.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.answer" | translate }}</mat-label>
            <input matInput required type="text" formControlName="valid_answer">
        </mat-form-field>
        <mat-checkbox formControlName="on_popup">
            <mat-label for="on_popup">{{ "assessmentBuilder.questions.select.onPopup" | translate }}</mat-label>
        </mat-checkbox>

        <div class="attachments-container">
            <div style="margin-right: 20px;">
                <app-image-selector
                    [reset$]="attachmentsResetSubject$.asObservable()"
                    (newImageEvent)="questionFormService.imageAttachment = $event"
                    [imageAttachment]="imageAttachment"
                ></app-image-selector>
            </div>
            <div>
                <app-audio-selector
                    [isRecorderEnabled]="true"
                    [reset$]="attachmentsResetSubject$.asObservable()"
                    (newAudioEvent)="questionFormService.audioAttachment = $event"
                    [audioAttachment]="audioAttachment"
                ></app-audio-selector>
            </div>
        </div>
       
</form>

<div class="dialog-buttons">
    <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
        {{ "general.cancel" | translate }}
    </button>
    <button mat-flat-button [mat-dialog-close]="true" color="accent" [disabled]="inputForm.invalid || !inputForm.dirty" (click)="onSubmit()">
        {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" | translate) }}
    </button>
</div>
