<form class="form-primary" [formGroup]="inputForm" (ngSubmit)="onSave()">
    <div class="form-primary__flex-container">
        <mat-form-field appearance="outline" class="form-group" color="accent">
            <mat-label for="title">Input</mat-label>
            <input matInput formControlName="question_type">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Title</mat-label>
            <input matInput required type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Order</mat-label>
            <input matInput required type="number" formControlName="order">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Answer</mat-label>
            <input matInput required type="text" formControlName="valid_answer">
        </mat-form-field>

        <div class="attachments-container">
            <h2>Attachments</h2>
            <p>Add an image attachment</p>
            <button type="button" mat-flat-button color="primary" (click)="imageFileInput.click()">Choose
                File</button>
            <input hidden accept="image/*" (change)="handleFileInput($event, 'IMAGE')" #imageFileInput type="file">
            <p>Add an audio attachment</p>
            <button type="button" mat-flat-button color="primary" (click)="audioFileInput.click()">Choose
                File</button>
            <input hidden accept="audio/*" (change)="handleFileInput($event, 'AUDIO')" #audioFileInput type="file">
        </div>
        <button mat-button color="accent" type="submit" [disabled]="inputForm.invalid || !inputForm.dirty">Submit</button>

    </div>
</form>
