<form [formGroup]="inputForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.title" | translate }}</mat-label>
            <input matInput required type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.order" | translate }}</mat-label>
            <input matInput required type="number" formControlName="order">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ "general.answer" | translate }}</mat-label>
            <input matInput required type="text" formControlName="valid_answer">
        </mat-form-field>

        <div class="attachments-container">
            <div style="margin-right: 20px;">
                <h3><b>{{ "assessmentBuilder.questions.imageAttachment" | translate }}</b></h3>
                <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="imageFileInput.click()">
                    {{ "assessmentBuilder.chooseFile" | translate }}
                </app-custom-button>
                <input hidden accept="image/*" (change)="handleFileInput($event, 'IMAGE')" #imageFileInput type="file">
                <p>{{imageAttachment ? imageAttachment.name : ("assessmentBuilder.noFileChosen" | translate) }}</p>
            </div>
            <div>
                <h3><b>{{ "assessmentBuilder.questions.audioAttachment" | translate }}</b></h3>
                <app-custom-button class="file_input" category="secondary" variant="neutral" (click)="audioFileInput.click()">
                    {{ "assessmentBuilder.chooseFile" | translate }}
                </app-custom-button>
                <input hidden accept="audio/*" (change)="handleFileInput($event, 'AUDIO')" #audioFileInput type="file">
                <p>{{audioAttachment ? audioAttachment.name : ("assessmentBuilder.noFileChosen" | translate) }}</p>
                <p style="text-align: center"><b>{{ "assessmentBuilder.questions.numberline.or" | translate }} </b></p>
                <app-audio-recorder [resetQuestionAudio]="resetQuestionAudio" (audioRecordingEvent)="addRecordedAudio($event)"></app-audio-recorder>
            </div>
        </div>
        <div class="dialog-buttons">
            <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
                {{ "general.cancel" | translate }}
            </button>
            <button mat-flat-button [mat-dialog-close]="true" color="accent" [disabled]="inputForm.invalid || !inputForm.dirty" (click)="onSave()">
                {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" | translate) }}
            </button>
        </div>
</form>
