<div class="container" #areaSelectorDialog>
    <div class="image-selector">
        <div class="img-overlay-wrap">
            <img [src]="icon" width="600" height="500" id="myImg" #myImage draggable="false">
            <svg width="600" height="500" viewBox="0 0 600 500" #draw id="draw" xmlns="http://www.w3.org/2000/svg">
                <rect #rectangle id="rectangle" x="0" y="0" width="150" height="150" />
                <g id="rectanglesList" #rectanglesList></g>
            </svg>
        </div>

        <div class="image-form">
            <div class="notifier" *ngIf="imageAttachment">
                <span *ngIf="coordinatesForm.controls.image.invalid"> {{ "assessmentBuilder.questions.areaSelector.imageNotifier" | translate }} </span>
                <span *ngIf="coordinatesForm.controls.name.invalid"> {{ "assessmentBuilder.questions.areaSelector.nameNotifier" | translate }} </span>
                <form class="form-primary" name="form" [formGroup]="coordinatesForm">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label> {{ "assessmentBuilder.questions.areaSelector.areaName" | translate }} </mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                </form>
            </div>

            <app-image-selector [reset$]="attachmentsResetSubject$.asObservable()"
                (newImageEvent)="onNewImageAttachment($event)" [imageAttachment]="imageAttachment"></app-image-selector>
        </div>
    </div>

    <p *ngIf="areasOptions.length"><strong> {{ "assessmentBuilder.questions.dragAndDrop.areas" | translate }} </strong></p>
    <span *ngFor="let area of areasOptions; let i = index">
        <span class="areas-list">
            <app-custom-button matTooltip="{{ 'assessmentBuilder.questions.areaSelector.deleteArea' | translate }}" [isIcon]="true" 
            icon="remove_circle_outline" (click)="removeArea(i)"></app-custom-button>

            {{i+1}}: {{area.name}}
        </span>
    </span>
</div>

<div class="dialog-buttons">
    <button mat-button class="dialog-buttons__cancel" color="secondary" mat-dialog-close>
        {{ "general.cancel" | translate }}
    </button>
    <button mat-flat-button class="dialog-buttons__submit" color="accent" type="submit"
        [mat-dialog-close]="[areasOptions, coordinatesForm.controls.image.value]"
        [disabled]="areasOptions.length == 0">
        {{ "general.save" | translate }}
    </button>
</div>