<div class="container" *ngIf="!loading">
  <ng-container *ngIf="config === 'library'">
    <div class="question-set-scores" style="width:15%">
      <ng-container *ngFor="let questionSet of questionSets; let i = index">
        <div class="question-sets" [ngClass]="{'selected': questionSetIndex === i}">
          <!-- put a border left instead of before -->
          <app-score-indicator [score]="questionSet?.score" [style.cursor]="questionSet.questions?.length ? 'pointer' : 'default'"
          (click)="questionSet.questions?.length ? updateQuestionSetIndex(i) : ''" [borderColor]="'#FF5722'">
          </app-score-indicator>
          <span>{{ questionSet.title }}</span>
        </div>
      </ng-container>
    </div>
    <div class="question-preview-nav larger-section">
      <ng-container *ngIf="questionSets[questionSetIndex]?.questions?.length">
        <ng-template [ngTemplateOutlet]="questions"></ng-template>
      </ng-container>
    </div>
    <div *ngIf="questionSets[questionSetIndex]?.questions" class="question-data section">
      <p>{{ 'general.subject' | translate }}:</p>
      <p><b>{{ data.subject ?? '--' }}</b></p>
      <p>{{ 'general.topic' | translate }}:</p>
      <p><b>{{ data.topic?.name ?? '--' }}</b></p>
      <p>{{ 'assessmentBuilder.learningObjective' | translate }}:</p>
      <p><b>{{ questionSets[questionSetIndex]?.learning_objective?.name_eng ?? '--' }}</b></p>
      <p>{{ 'general.grade' | translate }}:</p>
      <p><b>{{ data.grade ?? '--' }}</b></p>
    </div>
  </ng-container>

  <ng-container *ngIf="config === 'questions'">
    <div class="question-preview-nav question-section">
      <ng-container *ngIf="questionSets[questionSetIndex]?.questions?.length">
        <ng-template [ngTemplateOutlet]="questions"></ng-template>
      </ng-container>
    </div>
    <div class="question-data question-info">
      <p>{{ 'general.subject' | translate }}:</p>
      <p><b>{{ data.subject ?? '--' }}</b></p>
      <p>{{ 'general.topic' | translate }}:</p>
      <p><b>{{ data.topic ?? '--' }}</b></p>
      <p>{{ 'general.type' | translate }}:</p>
      <p><b>{{ data.subtopic?.name ?? '--' }}</b></p>
      <p>{{ 'general.grade' | translate }}:</p>
      <p><b>{{ data.grade ?? '--' }}</b></p>
    </div>
  </ng-container>
</div>

<app-spinner style="text-align: -webkit-center;" *ngIf="loading" size="medium" [variant]="'default'"></app-spinner>

<ng-template #questions>
  <app-custom-button (click)="updateQuestionIndex('before')" [icon]="'navigate_before'" [isIcon]="true"
    [noBorder]="true" category="tertiary" variant="default" [style.visibility]="questionIndex - 1 >= 0  ? '' : 'hidden'">
  </app-custom-button>

  <div *ngIf="questionSets[questionSetIndex]?.questions[questionIndex] as question" class="question-preview">
    <ng-container *ngIf="question.question_type === 'SEL'">
      <app-question-sel [question]="question"></app-question-sel>
    </ng-container>

    <ng-container *ngIf="question.question_type === 'SELECT'">
      <app-question-select [question]="question" [evaluated]="true"></app-question-select>
    </ng-container>
  
    <ng-container *ngIf="question.question_type === 'INPUT'">
      <app-question-input [question]="question" [evaluated]="true"></app-question-input>
    </ng-container>
  
    <ng-container *ngIf="question.question_type === 'SORT'">
      <app-question-sort [question]="question" [evaluated]="true"></app-question-sort>
    </ng-container>
  
    <ng-container *ngIf="question.question_type === 'NUMBER_LINE'">
      <app-question-numberline [question]="question" [evaluated]="true"></app-question-numberline>
    </ng-container>

    <ng-container *ngIf="question && question.question_type === 'DRAG_AND_DROP'">
      <app-question-drag-and-drop [question]="question" [evaluated]="true" [assessmentId]="assessmentId"
        [questionSetId]="questionSets[questionSetIndex].id" [shrinkBackgroundImage]="true">
      </app-question-drag-and-drop>
    </ng-container>

    <ng-container *ngIf="question.question_type === 'DOMINO'">
      <app-question-domino [question]="question" [evaluated]="true" [shrinkToPreview]="true"></app-question-domino>
    </ng-container>

    <ng-container *ngIf="question.question_type === 'CALCUL'">
      <app-question-calcul [question]="question" [evaluated]="true" [shrinkToPreview]="true"></app-question-calcul>
    </ng-container>

    <ng-container *ngIf="question.question_type === 'CUSTOMIZED_DRAG_AND_DROP'">
      <app-customized-drag-and-drop [question]="question" [evaluated]="true"></app-customized-drag-and-drop>
    </ng-container>
  </div>

  <app-custom-button (click)="updateQuestionIndex('next')" [icon]="'navigate_next'"
    [noBorder]="true" category="tertiary" variant="default" [isIcon]="true"
    [style.visibility]="questionSets[questionSetIndex]?.questions.length > questionIndex + 1 ? '' : 'hidden'">
  </app-custom-button>
</ng-template>