.container {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;

  .section { width: 25%; }
  .larger-section { width: 40%; }

  .question-section { width: 50%; }

  .question-info { width: 30%; }

  .question-set-scores {
    padding-top: 1em;
    display: flex;
    align-items: flex-start;
    place-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .question-data {
    padding-top: 1em;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    padding-left: 50px;
    color: #666666;
    text-align: left;
  }
}

.question-preview-nav {
  background-color: #BFF09E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #4CAF50;
  border-radius: 2%;
  app-custom-button {
    width: 10%;
  }
}

.question-preview {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.question-sets {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  app-score-indicator {
    margin-right: 5px;
  }
}
.selected {
  ::before {
    content: "|";
    color: #FF5722;
    background-color: #FF5722;
    position: absolute;
    left: -10px;
  }
}