.container {
  z-index: 0;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;

  .section { width: 25%; }

  .topic-scores {
    padding-top: 1em;
    display: flex;
    align-items: flex-start;
    place-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
  }
  .question-data {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    padding-left: 50px;
    color: #666666;
  }
}