<div class="container">
  <ng-container *ngIf="config === 'library'">
    <div class="topic-scores section">
      <ng-container *ngFor="let topic of topics">
        <app-score-indicator [score]="topic?.score"></app-score-indicator>
      </ng-container>
    </div>
    <div class="question-preview-nav section"></div>
    <div *ngIf="topics[topicIndex]?.questions" class="question-data section">
      <p>{{ 'general.subject' | translate }}:</p>
      <p>{{ data.subject ?? '--' }}</p>
      <p>{{ 'assessmentBuilder.subtopic' | translate }}:</p>
      <p>{{ topics[topicIndex]?.questions[questionIndex]?.learning_objective?.subtopic?.name ?? '--' }}</p>
      <p>{{ 'assessmentBuilder.learningObjective' | translate }}:</p>
      <p>{{ topics[topicIndex]?.questions[questionIndex]?.learning_objective?.name_eng ?? '--' }}</p>
      <p>{{ 'general.grade' | translate }}:</p>
      <p>{{ data.grade ?? '--' }}</p>
    </div>
  </ng-container>
</div>