<div class="question-list-container" *ngIf="topicDetails">
  <div class="topic-header">
    <img *ngIf="topicDetails?.icon" [src]="topicDetails.icon">
    <h1>{{ topicDetails.name }}</h1>
    <app-custom-button *ngIf="topicDetails.can_edit" category="tertiary" variant="primary"
     icon="edit" (click)="openEditTopicDialog(topicDetails)">
     {{ "general.edit" | translate }}
    </app-custom-button>
  </div>
  <mat-card>
    <div class="topic-infos" *ngIf="topicDetails">
      <div class="detail">
        <p>{{ "assessmentBuilder.description" | translate }}</p>
        <p>{{ topicDetails.description}} </p>
      </div>
      <div class="detail">
        <p>{{ "assessmentBuilder.evaluated" | translate }}</p>
        <p>{{ topicDetails.evaluated}} </p>
      </div>
      <div class="detail">
        <p>{{ "assessmentBuilder.allowSkip" | translate }}</p>
        <p>{{ topicDetails.allow_skip}} </p>
      </div>
      <div class="detail">
        <p>{{ "assessmentBuilder.maxWrongAnswers" | translate }}</p>
        <p>{{ topicDetails.max_wrong_answers}} </p>
      </div>
      <div class="detail">
        <p>{{ "assessmentBuilder.praise" | translate }}</p>
        <p>{{ topicDetails.praise }} </p>
      </div>
      <div class="detail">
        <p>{{ "assessmentBuilder.topicDetails.showFeedback" | translate }}</p>
        <p>{{ topicDetails.show_feedback }} </p>
      </div>
    </div>
  </mat-card>
  <div class="question">
    <mat-card *ngIf="topicDetails.can_edit">
      <h2>{{ "assessmentBuilder.topicDetails.addQuestion" | translate }}</h2>
      <div class="question-options-button">
        <app-custom-button *ngFor="let question of questionsArray" category="tertiary" variant="primary"
          (click)="openQuestionDialog(null, false, question.type)" variant="default">
          {{ question.text }}
        </app-custom-button>
      </div>
    </mat-card>
    <div class="question-details" *ngFor="let questionDetails of questionsList">
      <span matTooltip="{{ 'assessmentBuilder.questions.blocked' | translate }}" [matTooltipDisabled]="!questionDetails.answered" matTooltipPosition="above">
        <app-custom-button *ngIf="topicDetails.can_edit" [disabled]="questionDetails.answered" category="tertiary" variant="neutral"
          (click)="openQuestionDialog(questionDetails)">
          {{ "general.edit" | translate }}
        </app-custom-button>
      </span>
      <app-custom-button *ngIf="topicDetails.can_edit" category="tertiary" variant="neutral" (click)="openQuestionDialog(questionDetails, true)">
        {{ "assessmentBuilder.topicDetails.clone" | translate }}
      </app-custom-button>
      <mat-card *ngIf="questionDetails && questionDetails.question_type === 'SELECT'">
        <app-question-select [question]="questionDetails" [index]="1" [evaluated]="true"></app-question-select>
      </mat-card>

      <mat-card *ngIf="questionDetails && questionDetails.question_type === 'INPUT'">
        <app-question-input [question]="questionDetails" [index]="1" [evaluated]="true"></app-question-input>
      </mat-card>

      <mat-card *ngIf="questionDetails && questionDetails.question_type === 'SORT'">
        <app-question-sort [question]="questionDetails" [index]="1" [evaluated]="true"></app-question-sort>
      </mat-card>

      <mat-card *ngIf="questionDetails && questionDetails.question_type === 'NUMBER_LINE'">
        <app-question-numberline [question]="questionDetails" [index]="1" [evaluated]="true">
        </app-question-numberline>
      </mat-card>
    </div>
  </div>
</div>