.file-name {
  color: grey;
  max-width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
}