.question-header {
    text-align: center;

    h2:nth-child(1) {
        float: left;
    }
}

.play-audio {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .shapes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        flex-flow: wrap;
    }

    .calc {
        width: 40%;
        display: flex;
        font-weight: 600;
        font-size: 42px;
        line-height: 55px;
        align-self: center;
        margin-top: 0.5em;

        p {
            margin: auto;
            flex: 1;
            text-align-last: center;
        }

        p:nth-child(2),
        p:nth-child(4) {
            color: #4AA0DB;
            ;
        }
    }
}