<form [formGroup]="numberLineForm" (ngSubmit)="onSave()">

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>Order</mat-label>
        <input type="number" matInput formControlName="order">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>Start Number</mat-label>
        <input type="number" matInput formControlName="start">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>End Number</mat-label>
        <input type="number" matInput formControlName="end">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>Stepsize</mat-label>
        <input type="number" matInput formControlName="step" class="form-control">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>Tick step</mat-label>
        <input type="number" matInput formControlName="tick_step" class="form-control">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group" color="accent">
        <mat-label>Expected value</mat-label>
        <input type="number" matInput formControlName="expected_value" class="form-control">
    </mat-form-field>

    <span style="margin-right: 20px;">
        <mat-label style="margin-right: 10px;">Show Ticks</mat-label>
        <mat-checkbox matInput formControlName="show_ticks" class="form-control"></mat-checkbox>
    </span>

    <span>
        <mat-label style="margin-right: 10px;">Show Value</mat-label>
        <mat-checkbox matInput formControlName="show_value" class="form-control"></mat-checkbox>
    </span>

    <div class="attachments-container">
        <div style="margin-right: 20px;">
            <h3><b>Image attachment</b></h3>
            <button type="button"  class="file_input" mat-flat-button color="primary" (click)="imageFileInput.click()">Choose
                File</button>
            <input hidden accept="image/*" (change)="handleFileInput($event, 'IMAGE')" #imageFileInput type="file">
            <p>{{imageAttachment ? imageAttachment.name : 'No file chosen'}}</p>
        </div>
        <div>
            <h3><b>Audio attachment</b></h3>
            <button type="button" mat-flat-button  class="file_input" color="primary" (click)="audioFileInput.click()">Choose
                File</button>
            <input hidden accept="audio/*" (change)="handleFileInput($event, 'AUDIO')" #audioFileInput type="file">
            <p>{{audioAttachment ? audioAttachment.name : 'No file chosen'}}</p>
            <p style="text-align: center"><b>OR </b></p>
            <app-audio-recorder (audioRecordingEvent)="addRecordedAudio($event)"></app-audio-recorder>
        </div>
    </div>

    <div>
        <button class="submit-form-button" mat-flat-button color="primary" type="submit"
            [disabled]="numberLineForm.invalid || !numberLineForm.dirty">
            Save
        </button>
    </div>

</form>