<div *ngIf="selectQuestion" class="select">
    <form class="form-primary" [formGroup]="selectQuestionForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.question' | translate)} }}</mat-label>
            <mat-select formControlName="question" (selectionChange)="onSelectQuestion()">
                <mat-option *ngFor="let question of questionsList" [value]="question">{{ question.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-spinner *ngIf="!questionsList" size="medium" [variant]="'primary'"></app-spinner>
    </form>

    <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectQuestion = false">
        {{ 'general.createNewOne' | translate }}
    </app-custom-button>
</div>

<form *ngIf="!selectQuestion" [formGroup]="numberLineForm">
    <div class="form-container">
        <div class="numberline-details-container">
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "general.title" | translate }} </mat-label>
                <input type="text" matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "general.order" | translate }}</mat-label>
                <input matInput type="number" min="1" formControlName="order">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.numberline.startNumber" | translate }}</mat-label>
                <input type="number" matInput formControlName="start"
                    [max]="9999">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.numberline.endNumber" | translate }}</mat-label>
                <input type="number" matInput formControlName="end"
                    [min]="numberLineForm.controls.start.value" max="10000"
                >
                <mat-error *ngIf="numberLineForm.get('end').hasError('startGreaterThanEnd')">
                    {{ "assessmentBuilder.questions.numberline.endError" | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.numberline.stepSize" | translate }}</mat-label>
                <input type="number" matInput formControlName="step" class="form-control"
                    min="1" [max]="numberLineForm.controls.end.value - numberLineForm.controls.start.value"
                >
                <mat-error *ngIf="numberLineForm.get('step').hasError('tooManySteps')">
                    {{ "assessmentBuilder.questions.numberline.stepError" | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.numberline.expectedValue" | translate }}</mat-label>
                <input type="number" matInput formControlName="expected_value" class="form-control"
                    [min]="numberLineForm.controls.start.value"
                    [max]="numberLineForm.controls.end.value"
                    [step]="numberLineForm.controls.step.value"
                >
            </mat-form-field>

            <mat-checkbox formControlName="shuffle">
                <mat-label for="shuffle">{{ "assessmentBuilder.questions.numberline.shuffle" | translate }}</mat-label>
            </mat-checkbox>
        </div>
        <div class="attachments-container">
            <div style="margin-right: 20px;">
                <app-image-selector
                    [reset$]="attachmentsResetSubject$.asObservable()"
                    (newImageEvent)="questionFormService.imageAttachment = $event; numberLineForm.markAsDirty()"
                    [imageAttachment]="imageAttachment"
                ></app-image-selector>
            </div>
            <div>
                <app-audio-selector
                    [isRecorderEnabled]="true"
                    [reset$]="attachmentsResetSubject$.asObservable()"
                    (newAudioEvent)="questionFormService.audioAttachment = $event; numberLineForm.markAsDirty()"
                    [audioAttachment]="audioAttachment"
                ></app-audio-selector>
            </div>
        </div>
    </div>
</form>

<div class="dialog-buttons">
    <span class="notifier" *ngIf="numberLineForm.controls.order.errors">{{ "assessmentBuilder.questionSetDetails.selQuestionsOrder" | translate }}</span>
    <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
        {{ "general.cancel" | translate }}
    </button>
    <button mat-flat-button [mat-dialog-close]="true" color="accent" [disabled]="numberLineForm.invalid || !numberLineForm.dirty" (click)="onSubmit()">
        {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" | translate) }}
    </button>
</div>