.form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    h3 {
        margin: 16px 0 0 0;
        flex-direction: row;
        align-items: center
        mat-icon {
            margin-left: 0.5em;
        }
    }

    .numberline-details-container {
        display: flex;
        flex-direction: column;
        .title {
            padding: 0;
            ::ng-deep .mat-form-field-flex {
                min-height: 90px;
                margin: 0 !important;
            }
        }
        .numbers {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 600px) {
            .numbers {
                grid-template-columns: inherit;
            }
        }
    }
}

.attachments-container{
    display: flex;
}
.mat-form-field{
    margin-left: 10px !important;
}
.file_input{
    background-color: rgb(233, 233, 233);
}
.dialog-buttons {
    margin-top: 20px;
    align-items: center;
}
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-primary {
    display: flex;
    flex-direction: row;

    app-spinner {
        margin: auto;
    }
}

.notifier {
    color: red;
}

mat-icon {
    color: #4AA0DB;
    font-size: 15px;
    height: 15px;
    width: 15px;
}

.icon-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em 0.5em;

    mat-icon {
        margin-left: 0.5em;
    }
}