<div class="main-board">
  <app-table [pageConfig]="'students'" [tableData]="studentsDataSource" [filtersData]="filters" [displayedColumns]="displayedColumns"
    [isSelectable]="true" (selectionChangedEvent)="onSelectionChange($event)" [filtersReset$]="filtersReset$" [actionsButtons]="buttons"
    (filtersChangedEvent)="onFiltersChange($event)" (subMenuEvent)="subMenuAction($event)" (actionButtonEvent)="actionButton($event)">
  </app-table>
</div>
<div class="captions">
  <div class="captions__item">
    <div class="ring" style="background-color: #FF5722"></div>
    <p>< 40%</p>
  </div>
  <div class="captions__item">
    <div class="ring" style="background-color: #FFC107"></div>
    <p>41 - 70%</p>
  </div>
  <div class="captions__item">
    <div class="ring" style="background-color: #8BC34A"></div>
    <p>71 - 94%</p>
  </div>
  <div class="captions__item">
    <div class="ring" style="background-color: #1B5E20"></div>
    <p>> 95%</p>
  </div>
</div>