mat-card-title {
    font-size: 2rem;
    text-align: center;
    padding: 10px 0px;
    color: rgb(66, 64, 64);
}

mat-card-subtitle {
    font-size: 1rem;
    text-align: center;
}

mat-card-content {
    display:flex;
    justify-content: space-between;
    align-items: center;


    .barChart {
        height: 300px;
        width: 40%;
    }


    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-section {
        display: flex;
        justify-content: space-between;
    }
    
    .question-details {
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        width: 30%;
        min-height: 275px;
    }
}
