mat-card-title {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px 40px 0px;
    color: rgb(66, 64, 64);
}

mat-card-content {
    display:flex;


    .barChart {
        max-height: 500px;
        padding-right:10%;
    }


.left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
}

.right-section {
    display: flex;
    justify-content: space-between;
}
}