.main-board {
    &__top-container {
    
        button {
            mat-icon {
                margin-right: 8px;
                line-height: 22px;
            }

            margin:0 4px;
        }
    }
}
