.main-board {
  &__top-container {

    button {
      margin: 0 4px;

      mat-icon {
        margin-right: 8px;
        line-height: 22px;
      }

      &.white-background {
        background-color: white !important;
      }
    }
  }
}
.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;

  &__cancel {
    color: #FF5252;
    background-color: transparent;
    letter-spacing: 1.25px;
    font-weight: 500;
    padding: 1px 20px;
  }
  &__submit {
    letter-spacing: 1.25px;
    font-weight: 500;
    padding: 1px 20px;
  }
}