.form-primary {
    max-width: 40vw;

    &__flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        &__field-container {
            display: flex;
            flex-direction: column;
        }

        & > * {
            flex: 0.4;
            margin: 0 5%;
        }
    }

    & > .mat-button {
        display: block;
        margin: 16px auto 0;
    }
}
