.main-board {
    &__top-container {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 12px 0;

        & > h1 {
            font-size: 18px;
            margin: 0 auto 0 0;
        }
    }

    &__current-object-details {
        border: 1px solid var(--color-primary);
        border-radius: 5px;

        .header {
            color: var(--color-accent);
        }

        .detail {
            font-weight: bold;
        }
    }
}
