// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$admin-dashboard-palette: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #e8e8e8,
    300 : #c5c5c5,
    400 : #b5b5b5,
    500 : #a6a6a6,
    600 : #979797,
    700 : #878787,
    800 : #787878,
    900 : #696969,
    A100 : #ffffff,
    A200 : #f6efef,
    A400 : #c9b6b6,
    A700 : #b7afaf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$admin-dashboard-accent: (
  50: #ffffff,
  100: #f4fafd,
  200: #c4e1f5,
  300: #87c2eb,
  400: #6db5e6,
  500: #53a8e2,
  600: #399bde,
  700: #248dd4,
  800: #1f7bba,
  900: #1b6aa0,
  A100: #ffffff,
  A200: #cfecff,
  A400: #73c0f5,
  A700: #64b4ea,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);



// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(24px, 32px, 500),
  $body-1: mat-typography-level(14px, 22px, normal)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-dashboard-primary: mat-palette($admin-dashboard-palette);
$admin-dashboard-accent: mat-palette($admin-dashboard-accent);

// The warn palette is optional (defaults to red).
$admin-dashboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-dashboard-theme: mat-light-theme(
  $admin-dashboard-primary,
  $admin-dashboard-accent,
  $admin-dashboard-warn
  );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($admin-dashboard-theme);

// Mixins


@mixin snackbar-theme($theme) {
  snack-bar-container {
    simple-snack-bar.mat-simple-snackbar {
      justify-content: space-around;
      text-align: center;
    }

    &.snackbar-warning {
      background-color: mat-color(map-get($theme, accent), default);
      color: mat-color(map-get($theme, accent), default-contrast);
    }

    &.snackbar-error {
      background-color: mat-color(map-get($theme, warn), default);
      color: mat-color(map-get($theme, warn), default-contrast);
    }

    &.snackbar-success {
      background-color: mat-color(map-get($theme, primary), default);
      color: mat-color(map-get($theme, primary), default-contrast);
    }
  }
}

@include snackbar-theme($admin-dashboard-theme);

@mixin table-theme($theme) {
  .mat-row:hover {
    background-color: mat-color(map-get($theme, primary), 200);
    color: mat-color(map-get($theme, primary), default-contrast);
  }
}

@include table-theme($admin-dashboard-theme);

:root {
  --color-primary: #{mat-color($admin-dashboard-primary)};
  --color-accent: #{mat-color($admin-dashboard-accent)};
  --color-warn: #{mat-color($admin-dashboard-warn)};
}
