<mat-card  [class.-archived]="assessment.archived" class="assessment-container">
    <div class="assessment-details">
        <div class="general-information">
            <img *ngIf="assessment.icon" [src]="getSource(assessment.icon)">
            <span>{{ assessment.title }}</span>
        </div>
        <div class="details">
            <div class="infos">
                <p>{{ "general.grade" | translate }} </p>
                <p>{{ assessment.grade }}</p>
            </div>
            <div class="infos">
                <p>{{ "general.subject" | translate }}</p>
                <p>{{ assessment.subject }}</p>
            </div>
            <div class="infos">
                <p>{{ "general.language" | translate }}</p>
                <p>{{ assessment.language_code }}</p>
            </div>
            <div class="infos">
                <p>{{ "general.country" | translate }}</p>
                <p>{{ assessment.country_code }}</p>
            </div>
            <div class="infos">
                <p>{{ "general.private" | translate }}</p>
                <p>{{ assessment.private }}</p>
            </div>
            <div class="infos">
                <p>{{ "general.selQuestion" | translate }}</p>
                <p>{{ assessment.sel_question }}</p>
            </div>
        </div>
        <div class="buttons">
            <app-custom-button *ngIf="canEdit && !assessment.archived"
             matTooltip="{{ 'assessmentBuilder.assessmentSummary.reorderTooltip' | translate:{ item: ('general.topics' | translate)} }}"
                matTooltipPosition="above" [category]="reorder ? 'secondary' : 'tertiary'" variant="primary" icon="linear_scale" (click)="reorderTopics(reorder, assessment.id)">
                {{ reorder ? ("assessmentBuilder.assessmentSummary.saveOrder" | translate)
                : ("assessmentBuilder.assessmentSummary.reorderItems" | translate: { item: ("general.topics" | translate)}) }}
            </app-custom-button>
            <span *ngIf="!reorder">
                <app-custom-button *ngIf="canEdit && !assessment.archived" category="tertiary" variant="primary" icon="edit" (click)="editAssessment(assessment)">
                    {{ "general.edit" | translate: {type: ''} }}
                </app-custom-button>
                <app-custom-button *ngIf="canEdit" category="tertiary" variant="primary" [icon]="assessment.archived ? 'unarchive' : 'archive'"
                    (click)="archiveAssessment(assessment.id, !assessment.archived)">
                    {{ assessment.archived ? ("assessmentBuilder.assessmentSummary.unarchive" | translate)
                    : ("assessmentBuilder.assessmentSummary.archive" | translate: {type: ''}) }}
                </app-custom-button>
                <app-custom-button *ngIf="canEdit" category="tertiary" variant="primary" icon="delete" (click)="deleteAssessment(assessment.id, assessment.title)">
                    {{ "general.delete" | translate: {type: ''} }}
                </app-custom-button>
                <app-custom-button *ngIf="assessment.downloadable" category="tertiary" variant="primary" icon="download" (click)="downloadPDF(assessment.id)">
                    {{ "assessmentBuilder.download" | translate }}
                </app-custom-button>
                <app-custom-button *ngIf="!canEdit" category="tertiary" variant="primary" icon="control_point_duplicate" (click)="editAssessment(assessment, true)">
                    {{ "assessmentBuilder.assessmentSummary.copyAssessment" | translate }}
                </app-custom-button>
                <app-custom-button *ngIf="library" category="tertiary" variant="primary" icon="event_available" (click)="openAssignTopicDialog(assessment)">
                    {{ "assessmentBuilder.assessmentSummary.assignAssessment" | translate }}
                </app-custom-button>
            </span>
            <span *ngIf="reorder">
                <app-custom-button *ngIf="canEdit && !assessment.archived" category="tertiary" variant="danger" icon="close" (click)="cancelReorder()">
                    {{ "general.cancel" | translate }}
                </app-custom-button>
            </span>
        </div>
    </div>
    <hr>
    <div class="topics-container">
        <div #topicsList class="topics" [cdkDropListData]="topicToOrder"
        cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropTopic($event)">
            <mat-card class="add-topic" (click)="openTopicFormDialog(assessment)" *ngIf="canEdit">
                <div class="add-topic-text">
                    {{ "general.add" | translate: { type: ("assessmentBuilder.assessmentSummary.aTopic" | translate) } }}
                    <mat-icon>add</mat-icon>
                </div>
            </mat-card>
            <mat-card class="topic-card" *ngFor="let topic of assessment.topics; let i = index" [ngClass]="reorder ? 'drag-hover' : ''"
            (click)="goToTopicDetails(assessment.id, topic.id)" cdkDrag [cdkDragDisabled]="topic.archived || !reorder">
                <img *ngIf="topic.icon" [src]="getMediaSource(topic.icon)">
                <span class="topic-title">{{ topic.title }}</span>

                <span class="topic-counter">{{i + 1}}</span>
                <p class="small-description">{{ topic.description }}</p>
                <span class="question_count">({{ topic.questionsCount }} {{ "general.questions" | translate }})</span>

                <div *ngIf="canEdit" [ngSwitch]="topic.archived">
                    <div class="topic-buttons" *ngSwitchCase="false">
                        <app-custom-button
                        matTooltip="{{ 'assessmentBuilder.assessmentSummary.archive' | translate: {type: 'general.topic' | translate | lowercase} }}"
                        [isIcon]="true"
                        icon="archive" (click)="archiveTopic($event, assessment.id, topic.id, true)">
                        </app-custom-button>

                        <app-custom-button matTooltip="{{ 'general.delete' | translate: {type: 'general.topic' | translate | lowercase} }}"
                        [isIcon]="true" icon="delete" (click)="deleteTopic($event, assessment.id, topic.id, topic.title)">
                        </app-custom-button>
                    </div>
                    <div *ngSwitchCase="true">
                        <app-custom-button category="tertiary" variant="neutral" (click)="archiveTopic($event, assessment.id, topic.id, false)">
                            {{ "assessmentBuilder.assessmentSummary.unarchive" | translate }}
                        </app-custom-button>
                    </div>
                </div>
            </mat-card>
        </div>
        <app-horizontal-scroll-arrows
            [scrollableElement]="topicsList"
            [pxScrollAmount]="600">
        </app-horizontal-scroll-arrows>
    </div>
</mat-card>