.assessment-container {
    margin: 10px 0px;
    .assessment-details {
        display: flex;
        justify-content: space-between;
        .general-information {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                height: 100%;
                height: 50px;
                width: auto;
                margin-right: 10px;
            }
            span {
                font-weight: 500;
                font-size: 20px;
            }
        }
        .details {
            display: flex;
            width: 45%;
            justify-content: space-evenly;
        }
        .buttons {
            display: flex;
            align-items: center;
            white-space: nowrap;

            app-custom-button {
                padding: 0.1em;
            }
        }
    }

    .topics-container {
        position: relative;

        .topics {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-x: hidden;
            scrollbar-width: none;
            scroll-snap-type: x proximity;
            scroll-behavior: smooth;
            scroll-padding: 50px;
            padding: 10px;

            .add-topic {
                height: 10rem;
                cursor: pointer;
                text-align: center;
                position: relative;
                .add-topic-text {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .topic-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .mat-icon-button {
                    width: auto;
                }
            }
            mat-card {
                scroll-snap-align: start;
                width: 20%;
                min-width: 210px;
                min-height: 150px;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: center;
                text-align: center;
                cursor: pointer;

                img {
                    width: 28px;
                    height: auto;
                    position: absolute;
                    top: 10px;
                }
                .topic-title {
                    margin-top: 4px;
                    font-weight: 500;
                }
                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 1px;
                }
                .question_count {
                    font-weight: 300;
                    font-size: 12px;
                    color: rgb(86, 86, 86);
                }
                .topic-counter {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                }
            }

            @media (max-width: 1024px) {
                .small-description {
                    display: none !important;
                }
            }
        }
        &.-archived {
            background-color: #f2f2f2;
            .assessment-details {
                background-color: #f2f2f2;
            }
            .topics {
                mat-card {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}

.cdk-drag {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;

    img {
        width: 28px;
        height: auto;
        position: absolute;
        top: 10px;
    }

    .topic-title {
        margin-top: 4px;
        font-weight: 500;
    }

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-weight: 400;
        font-size: 13px;
        margin-bottom: 1px;
    }

    .question_count {
        font-weight: 300;
        font-size: 12px;
        color: rgb(86, 86, 86);
    }

    .topic-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mat-icon-button {
            width: auto;
        }
    }
}

.drag-hover {
    cursor: move !important;
}