<div class="main-board">

  <mat-grid-list *ngIf="student" class="main-board__current-object-details" cols="7" rowHeight="36px">
    <mat-grid-tile class="header">Full name</mat-grid-tile>
    <mat-grid-tile class="header">Number of completed assessments</mat-grid-tile>
    <mat-grid-tile class="header">Number of completed topics</mat-grid-tile>
    <mat-grid-tile class="header">Last session</mat-grid-tile>
    <mat-grid-tile class="header">Language</mat-grid-tile>
    <mat-grid-tile class="header">Country</mat-grid-tile>
    <mat-grid-tile [rowspan]="2" class="delete-button">
      <button mat-stroked-button color="primary" (click)="deleteCurrentStudent()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="detail">{{ student.full_name }}</mat-grid-tile>
    <mat-grid-tile class="detail">{{ student.assessments_count }}</mat-grid-tile>
    <mat-grid-tile class="detail">{{ student.completed_topics_count }}</mat-grid-tile>
    <mat-grid-tile class="detail">{{ student.last_session }}</mat-grid-tile>
    <mat-grid-tile class="detail">{{ student.language_name }}</mat-grid-tile>
    <mat-grid-tile class="detail">{{ student.country_name }}</mat-grid-tile>
  </mat-grid-list>

  <div class="main-board__top-container">
    <h1 *ngIf="student">{{ student.full_name }} details</h1>
  </div>

  <div class="main-board__student-answers">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Assessments">
        <app-assessments-answers></app-assessments-answers>
      </mat-tab>
      <mat-tab label="Sessions">
        <app-sessions-answers></app-sessions-answers>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
