.assessment-title {
    font-weight: 500;
}
.linked-question-sets {
    color: rgba(0, 0, 0, 0.74);
    margin-left: 5px;
}
.main-board__accordions-container__question-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__infos {
        width: 30%;
    }
    font-weight: lighter;
}

.back-button {
    justify-content: space-between!important;
}
h3{
    margin-top: 50px;
}

mat-panel-title {
    justify-content: space-between;
}