<div class="main-board">
  <div class="main-board__top-container">
    <h1 *ngIf="student">{{ student.full_name }}</h1>

    <div class="main-board__top-container__actions">
      <button mat-flat-button color="primary" (click)="deleteCurrentStudent()" [disabled]="true">
        <mat-icon>delete_outline</mat-icon> Delete student
      </button>
    </div>
  </div>

  <div class="main-board__details" *ngIf="student">
    <div class="main-board__details__element">
      <span class="title">Number of assessments</span>
      <span class="value">{{ student.assessments_count }}</span>
    </div>
    <div class="main-board__details__element">
      <span class="title">Total completed topics</span>
      <span class="value">{{ student.completed_topics_count }}</span>
    </div>
    <div class="main-board__details__element">
      <span class="title">Last session</span>
      <span class="value">{{ student.last_session | date:'short' }}</span>
    </div>
    <div class="main-board__details__element">
      <span class="title">Language</span>
      <span class="value">{{ student.language_name }}</span>
    </div>
    <div class="main-board__details__element">
      <span class="title">Country</span>
      <span class="value">{{ student.country_name }}</span>
    </div>
  </div>

  <div class="main-board__accordions-container">
    <h3>Student's assessments</h3>
    <p *ngIf="!studentAssessments">This student currently is not linked to any assessment.</p>
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let assessment of studentAssessments">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="assessment-title">{{ assessment.title }} </span><span class="linked-topics">({{ assessment.topic_access.length }} linked topic(s))</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="main-board__accordions-container__topic" *ngFor="let topic of assessment.topic_access">
          <div class="main-board__accordions-container__topic__infos">
            <p>{{ topic.topic }}</p>
          </div>
          <div class="main-board__accordions-container__topic__infos" *ngIf="topic.start_date">
            <p>from {{ topic.start_date }} to {{ topic.end_date }}</p>
          </div>
          <div class="main-board__accordions-container__topic__infos">
            <p> {{topic.hasAccess ? 'Active access' : 'No active access'}} </p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="main-board__tabs-container">
    <h3>Assessments Overview</h3>
    <app-assessments-answers></app-assessments-answers>
  </div>

</div>
