<h2 mat-dialog-title>
      {{ !!student ? ("general.edit" | translate: { type: ("general.student" | translate | lowercase) }) :
        ("general.createNew" | translate: { type: "general.student" | translate | lowercase}) }}
</h2>
<form class="form-primary" [formGroup]="studentForm">
    <div class="form-primary__flex-container">
        <div class="form-primary__flex-container__field-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>
                    {{ "students.createStudentDialog.firstName" | translate }}
                    </mat-label>
                <input matInput type="text" formControlName="first_name">
            </mat-form-field>
            <small class="text-danger" *ngIf="hasFormChanged && studentForm.get('first_name').hasError('required')">
                {{ "general.fieldRequired" | translate }}
            </small>
        </div>
        <div class="form-primary__flex-container__field-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ "students.createStudentDialog.lastName" | translate }}
                    </mat-label>
                <input matInput type="text" formControlName="last_name">
            </mat-form-field>
            <small class="text-danger" *ngIf="hasFormChanged && studentForm.get('last_name').hasError('required')">
                {{ "general.fieldRequired" | translate }}
            </small>
        </div>
        <div class="form-primary__flex-container__field-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ "general.country" | translate }}
                    </mat-label>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name_en}}</mat-option>
                </mat-select>
            </mat-form-field>
            <small class="text-danger" *ngIf="hasFormChanged && studentForm.get('country').hasError('required')">
                {{ "general.fieldRequired" | translate }}
            </small>
        </div>
        <div class="form-primary__flex-container__field-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ "general.language" | translate }}
                </mat-label>
                <mat-select formControlName="language">
                    <mat-option *ngFor="let language of languages" [value]="language.code">{{language.name_en}}</mat-option>
                </mat-select>
            </mat-form-field>
            <small class="text-danger" *ngIf="hasFormChanged && studentForm.get('language').hasError('required')">
                {{ "general.fieldRequired" | translate }}
            </small>
        </div>
        <div class="form-primary__flex-container__field-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ ( groups?.length ? "general.group" : "general.noData" ) | translate }}</mat-label>
                <mat-select formControlName="group">
                    <mat-option [value]="''">-</mat-option>
                    <mat-option *ngFor="let group of groups" [value]="group.id.toString()">
                        {{ group.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <app-custom-button category="secondary" variant="neutral" icon="add" (click)="openGroupDialog()">
                {{ "general.add" | translate: { type: ("general.group" | translate | lowercase) } }}
            </app-custom-button>
        </div>
        <div class="form-primary__flex-container__field-container">
            <mat-checkbox formControlName="active">
                {{ "students.active" | translate}}
            </mat-checkbox>
        </div>
    </div>
    <div class="dialog-buttons">
        <button mat-button color="secondary" class="dialog-buttons__cancel" mat-dialog-close>
            {{ "general.cancel" | translate }}
        </button>
        <button mat-flat-button color="accent" type="submit" class="dialog-buttons__submit"
         (click)="submitStudent()" [disabled]="studentForm.invalid || !studentForm.dirty">
            {{ ( !!student ? "general.save" : "general.submit" ) | translate }}
        </button>
    </div>
</form>