<button (click)="setQuestionDisplay('input')">Input</button>
<button (click)="setQuestionDisplay('numberLine')">Number Line</button>
<button (click)="setQuestionDisplay('select')">(Multi-) Select</button>
<button (click)="setQuestionDisplay('sort')">Sort</button>

<app-input *ngIf="currentQuestionType === 'input' "></app-input>
<app-number-line  *ngIf="currentQuestionType === 'numberLine' "></app-number-line>
<app-select  *ngIf="currentQuestionType === 'select' "></app-select>
<app-sort  *ngIf="currentQuestionType === 'sort' "></app-sort>