<div *ngIf="selectQuestion" class="select">
    <form class="form-primary" [formGroup]="selectQuestionForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>{{ 'general.selectItem' | translate:{ item: ('general.question' | translate)} }}</mat-label>
            <mat-select formControlName="question" (selectionChange)="onSelectQuestion()">
                <mat-option *ngFor="let question of questionsList" [value]="question">{{ question.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-spinner *ngIf="!questionsList" size="medium" [variant]="'primary'"></app-spinner>
    </form>

    <app-custom-button category="secondary" variant="neutral" icon="add" (click)="selectQuestion = false">
        {{ 'general.createNewOne' | translate }}
    </app-custom-button>
</div>

<form *ngIf="!selectQuestion" [formGroup]="calculForm">
    <div class="form-container">
        <div class="numberline-details-container">
            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "general.title" | translate }} </mat-label>
                <input type="text" matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "general.order" | translate }}</mat-label>
                <input type="number" matInput formControlName="order">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.calcul.operator" | translate }}</mat-label>
                <mat-select formControlName="operator">
                    <mat-option *ngFor="let type of questionFormService.operatorTypes" [value]="type.id">
                        {{ "assessmentBuilder.questions.calcul." + type.path | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.calcul.firstNumber" | translate }}</mat-label>
                <input type="number" matInput formControlName="first_value" min="0">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group" color="accent">
                <mat-label>{{ "assessmentBuilder.questions.calcul.secondNumber" | translate }}</mat-label>
                <input type="number" matInput formControlName="second_value" min="0">
            </mat-form-field>
        </div>
        <div class="attachments-container">
            <div style="margin-right: 20px;">
                <app-image-selector [reset$]="attachmentsResetSubject$.asObservable()"
                    (newImageEvent)="questionFormService.imageAttachment = $event" [imageAttachment]="imageAttachment">
                </app-image-selector>
            </div>
            <div>
                <app-audio-selector [isRecorderEnabled]="true" [reset$]="attachmentsResetSubject$.asObservable()"
                    (newAudioEvent)="questionFormService.audioAttachment = $event" [audioAttachment]="audioAttachment">
                </app-audio-selector>
            </div>
        </div>
    </div>
</form>

<div class="dialog-buttons">
    <div class="errors">
        <span class="notifier"
            *ngIf="calculForm.get('first_value').hasError('invalidCalcul') || calculForm.get('second_value').hasError('invalidCalcul')">
            {{ "assessmentBuilder.questions.calcul.calculError" | translate }}
        </span>
        <span class="notifier" *ngIf="calculForm.controls.order.errors">
            {{"assessmentBuilder.topicDetails.selQuestionsOrder" | translate }}
        </span>
    </div>
    <button mat-flat-button mat-dialog-close class="dialog-buttons__cancel" color="secondary">
        {{ "general.cancel" | translate }}
    </button>
    <button mat-flat-button [mat-dialog-close]="true" color="accent"
        [disabled]="calculForm.invalid || !calculForm.dirty" (click)="onSubmit()">
        {{ question ? toClone ? ("general.clone" | translate) : ("general.save" | translate) : ("general.create" |
        translate) }}
    </button>
</div>